<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %> on
      <strong><%= format_date(object.date) %></strong>,
      in the <%= search_link(object.legislature) %> sponsored by
      <%= search_link(object.primary_sponsor) %> (<%= search_link(object.primary_sponsor_party) %>)
      on behalf of the <%= search_link(object.department.first) %>.
    </div>
  </div>
</div>

