<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_link(@ses_data[object.type].singularize.downcase, '/') %> from
      <%= object_link(object.primary_member, '/') %> (<%= object_link(object.primary_member_party, '/') %>)
      in the <%= object_link(object.legislature, '/') %>, in the
      <%= object_link(object.location, '/') %> on
      <strong><%= object.date&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>.
      It occurred during <%= object_link(object.proceeding, '/') %> on
      <%= object_link(object.proceeding_type, '/') %>.
    </div>
  </div>
</div>

