<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_link(@ses_data[object.type].singularize.downcase, '/') %>, deposited in the
      <%= object_link(object.legislature, '/') %>, by the <%= object_link(object.department, '/') %>
      on <strong><%= object.date&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>.
      The commitment to deposit was made on
      <strong><%= object.committed_date&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>.
    </div>
  </div>
</div>

