<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %>, deposited in the
      <%= render 'search/fragments/list', items: object.legislature, terminator: ',', singular: false %> by the <%= search_link(object.department) %>
      on <strong><%= format_date(object.deposited_date) %></strong>.
      The commitment to deposit was made on
      <strong><%= format_date(object.commitment_to_deposit_date) %></strong>.
    </div>
  </div>
</div>

