.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      - unless object.primary_sponsor.blank?
        %span=" tabled by "
        %span>= search_link(object.primary_sponsor)
        - if object.primary_sponsor_party.blank?
          %span= " (primary sponsor)"
        - else
          %span= " (primary sponsor, "
          %span>= render 'search/fragments/list', items: object.primary_sponsor_party, terminator: '', singular: false
          %span= ")"
          %span= " and "
      %span= " tabled on "
      %span>= format_date(object.date_tabled)
      %span= ", in the "
      %span= render 'search/fragments/list', items: object.legislature, terminator: '.', singular: false
      - if object.subtype.blank?
        - unless object.number_of_signatures.blank?
          %span= "It is"
      - else
        %span= "It is a "
        %span>= object_display_name_link(object.subtype)
      - unless object.number_of_signatures.blank?
        - unless object.subtype.blank?
          %span= ", "
        %span= "signed by "
        %span= object.number_of_signatures[:value]
        - if object.number_of_signatures[:value] == 1
          %span>= " member in total"
        - else
          %span>= " members in total"
      - unless object.subtype.blank? && object.number_of_signatures.blank?
        %span= "."
      - if object.withdrawn?
        %span>= " The primary sponsor has subsequently withdrawn this motion."
