<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      An <%= object_display_name_link(object.object_name) %> sponsored
      by <%= search_link(object.primary_sponsor) %>
      (primary sponsor, <%= search_link(object.primary_sponsor_party) %>)
      <% unless object.other_sponsors.blank? %>
        <% object.other_sponsors.each do |supporter| %>
          <%= search_link(supporter) %>,
        <% end %>
      <% end %>
      and tabled on <strong><%= format_date(object.date_tabled) %></strong>
      in the <%= render 'search/fragments/list', items: object.legislature, terminator: '.', singular: false %>
      <% if object.has_subtype? %>
        It is a <%= object.subtype_name %>
      <% else %>
        It is
      <% end %>
      <% unless object.number_of_signatures.blank? %>
        <strong>signed by <%= object.number_of_signatures[:value] %> members in
          total</strong>
      <% end %>
      <% if object.withdrawn? %>
        The primary sponsor has subsequently withdrawn this motion
      <% end %>
      .
    </div>
  </div>
</div>