.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      - unless object.date_reported.blank?
        %span= " dated "
        %strong>= format_date(object.date_reported)
      %span= "."
      - unless object.date_debated.blank? && object.debate_location.blank?
        %span= " It was debated "
        - unless object.date_debated.blank?
          %span= " on "
          %strong>= format_date(object.date_debated)
        - unless object.debate_location.blank?
          %span= " in "
          %span>= object.debate_location[:value]
        %span= "."