<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= link_to(object.object_name, search_path(type: object.type)) %>
      <!--      (<%#= ses_object_link(object.reading) %>)-->
      on <strong><%= object.date&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>,
      in the <%= ses_object_link(object.legislature) %> led by <%= ses_object_link(object.lead_member) %>
      on behalf of the <%= ses_object_link(object.department) %>. The answering member was
      <%= ses_object_link(object.answering_member) %>.
    </div>
  </div>
</div>

