<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %>
      <!--      (<%#= ses_object_link(object.reading) %>)-->
      on <strong><%= format_date(object.date) %></strong>,
      in the <%= search_link(object.legislature) %> led by <%= search_link(object.lead_member) %>
      on behalf of the <%= search_link(object.department) %>. The answering member was
      <%= search_link(object.answering_member) %>.
    </div>
  </div>
</div>

