<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_link(object.object_name, '/') %> was made by <%= object_link(object.correcting_member, '/') %>
      (<%= object_link(object.correcting_member_party, '/') %>) on
      <strong><%= object.date&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>,
      in the <%= object_link(object.legislature, '/') %> on behalf of the
      <%= object_link(object.department, '/') %>.
    </div>
  </div>
</div>

