<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      An <%= link_to(object.object_name, search_path(filter: object.type)) %> asked in the <%= ses_object_link(object.legislature) %>,
      <% if object.place %>
        in the <%= ses_object_link(object.place) %>
      <% end %>
      by <%= ses_object_link(object.tabling_member) %> (<%= ses_object_link(object.tabling_member_party) %>)
      to the <%= ses_object_link(object.department) %>.
      It was answered by <%= ses_object_link(object.answering_member) %> (<%= ses_object_link(object.answering_member_party) %>)
      on <strong><%= format_date(object.date_of_answer) %></strong> on
      behalf of the <%= ses_object_link(object.answering_department) %>. The answer was corrected.
    </div>
  </div>
</div>

