<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %> tabled on
      <strong><%= format_date(object.date_of_question) %></strong>
      <% unless object.department.blank? %>
        in the <%= search_link(object.legislature) %>,
      <% end %>
      by <%= search_link(object.tabling_member) %> (<%= search_link(object.tabling_member_party) %>)
      to the <%= search_link(object.department.first) %>.
      It has been withdrawn.
    </div>
  </div>
</div>

