.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      - unless object.date_of_question.blank?
        %span= " tabled on "
        %span= format_date(object.date_of_question)
      - unless object.legislature.blank?
        %span= " in the "
        %span>= render 'search/fragments/list', items: object.legislature, terminator: ',', singular: false
      - unless object.tabling_member.blank?
        %span= " by "
        %span= search_link(object.tabling_member)
        - unless object.tabling_member_party.blank?
          %span<="("
          %span>= search_link(object.tabling_member_party)
          %span>=")"
      - unless object.department.blank?
        %span=" to the "
        %span>= search_link(object.department)
      %span= "."
      - unless object.date_for_answer.blank?
        - if object.date_for_answer[:value].past?
          %span= " It was due for answer on "
        - else
          %span= " It is due for answer on "
        %span>= format_date(object.date_for_answer)
        %span= "."