%section.content-section.grey
  .about-item
    %span= "This is an answer to the "
    %span>= object_show_link(object.question_object.object_name_text, object.question_url)
    - unless object.date_of_question.blank?
      %span= " asked on "
      %strong>= format_date(object.date_of_question)
    - unless object.question_object.asking_member.blank?
      %span= " by "
      %span>= search_link(object.question_object.asking_member)
      - unless object.question_object.asking_member_party.blank?
        %span= " ("
        %span>= search_link(object.question_object.asking_member_party)
        %span= ") "
    %span= "."