<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      An <%= object_display_name_link(object.object_name) %> tabled on
      <strong><%= format_date(object.date_of_question) %></strong>
      <% unless object.department.blank? %>
        in the <%= render 'search/fragments/list', items: object.legislature, terminator: ',', singular: false %>
      <% end %>
      by <%= search_link(object.tabling_member) %> (<%= search_link(object.tabling_member_party) %>)
      to the <%= search_link(object.department) %>.
      It is due for answer on
      <strong><%= format_date(object.date_for_answer) %></strong>.
    </div>
  </div>
</div>

