<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      An <%= object_display_name_link(object.object_name) %> asked in
      the <%= render 'search/fragments/list', items: object.legislature, terminator: object.tabling_member.blank? && object.department.blank? ? '' : ',', singular: false %>
      <% unless object.tabling_member.blank? %>
        by <%= search_link(object.tabling_member) %>
        <% unless object.tabling_member_party.blank? %>
          (<%= search_link(object.tabling_member_party) %>)
        <% end %>
      <% end %>
      <% unless object.department.blank? %>
        to the <%= search_link(object.department) %>
      <% end %>
      .
      It was answered
      <% unless object.answering_member.blank? %>
        by <%= search_link(object.answering_member) %>
        <% unless object.answering_member_party.blank? %>
          (<%= search_link(object.answering_member_party) %>)
        <% end %>
      <% end %>
      <% unless object.date_of_answer.blank? %>
        on <strong><%= format_date(object.date_of_answer) %></strong>
      <% end %>
      <% unless object.answering_department.blank? %>
        on behalf of the <%= search_link(object.answering_department) %>
      <% end %>
      .
    </div>
  </div>
</div>

