<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      An <%= object_display_name_link(object.object_name) %> made
      on <strong><%= format_date(object.date) %></strong>
      in the <%= search_link(object.legislature) %>
      <% if object.place %>
        in the <%= search_link(object.place) %>
      <% end %>
      by <%= search_link(object.member) %> (<%= search_link(object.member_party) %>).
    </div>
  </div>
</div>

