<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      An <%= link_to(object.object_name, search_path(filter: object.type)) %> provided
      on <strong><%= format_date(object.date_of_answer) %></strong>
      in the <%= ses_object_link(object.legislature) %>
      <% if object.place %>
        in the <%= ses_object_link(object.place) %>
      <% end %>
      by <%= ses_object_link(object.answering_member) %> (<%= ses_object_link(object.answering_member_party) %>)
      behalf of the <%= ses_object_link(object.answering_department) %>.
      <% if object.has_question? %>
        This is an answer to a <%= object_link(object.question_object.object_name, object.question_url) %>
        asked on <strong><%= format_date(object.date_of_question) %></strong>
<!--        by <%#= ses_object_link(object.asking_member) %> (<%#= ses_object_link(object.asking_member_party) %>)-->
      <% end %>
    </div>
  </div>
</div>

