<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= ses_object_name_link(object.object_name) %> on
      <strong><%= object.date&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>,
      in the <%= ses_object_link(object.legislature) %>,
      <% if object.place %>
        in the <%= ses_object_link(object.place) %>
      <% end %>
      led by <%= ses_object_link(object.lead_member) %>.
      <% unless object.answering_members.blank? %>
        The answering members were
        <% object.answering_members.each do |member| %>
          <%= ses_object_link(member) %>
        <% end %>.
      <% end %>
    </div>
  </div>
</div>

