<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_link(object.object_name, '/') %> on
      <strong><%= object.date&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>,
      in the <%= ses_object_link(object.legislature) %>, in the
      <%= ses_object_link(object.location) %> led by
      <%= ses_object_link(object.lead_member) %>. The answering members were
      <% object.answering_members.each do |member| %>
        <%= ses_object_link(member) %>
      <% end %>.
    </div>
  </div>
</div>

