<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %> laid in the
      <%= render 'search/fragments/list', items: object.legislature, terminator: '', singular: false %> on
      <strong><%= format_date(object.date) %></strong>
      <% unless object.member_name.blank? %>
        by <%= search_link(object.member_name) %>
      <% end %>
      <% unless object.department.blank? %>
        on behalf of the <%= search_link(object.department) %>
      <% end %>
      .
      <% unless object.date_approved.blank? %>
        It was approved by the House of Commons on <%= format_date(object.date_approved) %>.
      <% end %>
      <% unless object.date_made.blank? %>
        It was made on <%= format_date(object.date_made) %>.
      <% end %>
      <% unless object.date_withdrawn.blank? %>
        It was withdrawn on <%= format_date(object.date_withdrawn) %>.
      <% end %>
    </div>
  </div>
</div>

