.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= search_link(object.object_name)
      - unless object.legislature.blank?
        %span= " laid in the "
        %span>= render 'search/fragments/list', items: object.legislature, terminator: '', singular: false
      - unless object.date.blank?
        %span= " on "
        %strong>= format_date(object.date)
      - unless object.member_name.blank?
        %span= " by "
        %span>= search_link(object.member_name)
      - unless object.department.blank?
        %span= " on behalf of the "
        %span>= search_link(object.department)
      %span= "."
      - unless object.date_approved.blank?
        %span= " It was approved by the House of Commons on "
        %strong>= format_date(object.date_approved)
        %span= "."
      - unless object.date_made.blank?
        %span= " It was made on "
        %strong>= format_date(object.date_made)
        %span= "."
      - if object.date_withdrawn.blank?
        - if object.is_withdrawn && object.is_withdrawn[:value]
          %span= " It was subsequently withdrawn. "
      - else
        %span= " It was withdrawn on "
        %strong>= format_date(object.date_withdrawn)
        %span= "."
