<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %> from
      <%= search_link(object.member) %> (<%= search_link(object.member_party) %>)
      in the <%= search_link(object.legislature) %>,
      <% if object.place %>
        in the <%= search_link(object.place) %>
      <% end %>
      on <strong><%= format_date(object.date) %></strong>.
      <% unless object.proceeding.blank? %>
        It occurred during <%= search_link(object.proceeding) %> on
        <%= search_link(object.proceeding_type) %>.
      <% end %>
    </div>
  </div>
</div>

