<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= link_to(object.object_name, search_path(type: object.type)) %> from
      <%= ses_object_link(object.member) %> (<%= ses_object_link(object.member_party) %>)
      in the <%= ses_object_link(object.legislature) %>,
      <% if object.place %>
        in the <%= ses_object_link(object.place) %>
      <% end %>
      on <strong><%= object.date&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>.
      It occurred during <%= ses_object_link(object.proceeding) %> on
      <%= ses_object_link(object.proceeding_type) %>.
    </div>
  </div>
</div>

