.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      - unless object.member.blank?
        %span= " from "
        %span= search_link(object.member)
        - unless object.member_party.blank?
          %span= " ("
          %span>= search_link(object.member_party)
          %span= ") "
      - unless object.legislature.blank?
        %span= " in the "
        %span>= render 'search/fragments/list', items: object.legislature, terminator: '', singular: false
      - unless object.date.blank?
        %span= " on "
        %strong>= format_date(object.date)
      %span= "."
      - unless  @associated_object_data[object.proceeding_contribution_uri].blank?
        %span= " It occurred during "
        %span>= render 'search/fragments/list', items: [@associated_object_data[object.proceeding_contribution_uri].object_name].flatten, terminator: '', singular: true
        %span= " on "
        %span>= object_show_link(@associated_object_data[object.proceeding_contribution_uri].object_title, @associated_object_data[object.proceeding_contribution_uri].object_uri)
        %span= "."