<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %> from
      <%= search_link(object.member) %> (<%= search_link(object.member_party) %>)
      in the <%= render 'search/fragments/list', items: object.legislature, terminator: ',', singular: false %>
      on <strong><%= format_date(object.date) %></strong>.
      <% unless object.parent_object.blank? || object.legislation.blank? %>
        It occurred during <%= object_display_name_link(object.parent_object&.object_name) %> on
        <%= search_link(object.legislation&.first) %>.
      <% end %>
    </div>
  </div>
</div>

