.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      - unless object.creators_and_contributors.blank?
        %span= " by "
        %span>= render 'search/fragments/list', items: object.creators_and_contributors, terminator: "", singular: false
      %span= "."
      - if object.last_updated.blank?
        %span= " It was published on "
        %span>= format_date(object.published_on)
      - else
        %span= " It was first published on "
        %span>= format_date(object.published_on)
        %span= "."
        %span= " It was last updated on "
        %span>= format_date(object.last_updated)
      %span= "."