<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %>
      <% unless object.creator.blank? %>
        by <%= search_link(object.creator) %>
      <% end %>
      <% unless object.contributor.blank? %>
        and <%= search_link(object.contributor) %>
      <% end %>
      .
      <% if object.last_updated.blank? %>
        It was published on <strong><%= format_date(object.published_on) %></strong>.
      <% else %>
        It was first published on <strong><%= format_date(object.published_on) %></strong>.
        It was last updated on <strong><%= format_date(object.last_updated) %></strong>.
      <% end %>
    </div>
  </div>
</div>

