<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= link_to(object.object_name, search_path(filter: object.type)) %>
      asked by <%= object_link("#{object.tabling_member}", '/') %> (<%= object.tabling_member_party %>)
      on <strong><%= object.date_of_question&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>,
      in the <%= object_link("#{object.legislature}", '/') %>.
      It was due for answer
      on <strong><%= object.date_of_answer&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>
      (<%= object.question_type %>).
      A holding answer was provided by <%= object_link("#{object.answering_member}", '/') %>
      (<%= object.answering_member_party %>)
      on <strong><%= object.date_of_holding_answer&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>

      <% unless object.department.blank? %>
        on behalf of <%= object_link("#{object.department}", '/') %>.
      <% end %>
      <!--      need details on where replacement answer Member and department are sourced from -->
      A replacement answer was provided by <%= object_link("#{object.answering_member}", '/') %>
      on <strong><%= object.date_of_answer&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>
      <% unless object.department.blank? %>
        on behalf of <%= object_link("#{object.department}", '/') %>
      <% end %>
      .
    </div>
  </div>
</div>

