<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_display_name_link(object.object_name) %>
      made by <%= search_link(object.member) %> (<%= search_link(object.member_party) %>)
      on <strong><%= format_date(object.statement_date) %></strong>
      in the <%= render 'search/fragments/list', items: object.legislature, terminator: ',', singular: false %> on behalf of the
      <%= search_link(object.department) %>.
      <% if object.corrected? %>
        It has since been corrected.
      <% end %>
    </div>
  </div>
</div>

