<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text" id="prelim-text">
      A <%= object_link("#{object.object_name.titleize}", '/') %>
      asked by <%= object_link("#{object.tabling_member}", '/') %> (<%= object.tabling_member_party %>)
      on <strong><%= object.date_of_question.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>,
      in the <%= object_link("#{object.legislature}", '/') %>.
      It was due for answer
      on <strong><%= object.date_for_answer&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>
      (named day).
      It was answered by <%= object_link("#{object.answering_member}", '/') %> (<%= object.answering_member_party %>)
      on <strong><%= object.date_of_answer.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>
      <% unless object.department.blank? %>
        on behalf of the <%= object_link("#{object.department}", '/') %>
      <% end %>
      .
    </div>
  </div>
</div>

