<% content_for(:heading) do %>
	<%= @page_title %>
<% end %>

<div class="reading-width">
	<%= content_tag( 'p', "Clicking on a result item link in the search results takes the user to an object page. The object page provides more information about that item, including, where available, a link to that item on the web." ) %>
	
	<%= content_tag( 'p', "Parliamentary Search includes a range of records of different parliamentary business types. As we've developed the service, we've found it useful to keep a list of examples of the different types of records available:" ) %>
	
	
	<ol class="unnumbered link-list">
		<%= content_tag( 'li', link_to( 'Act  – public', object_show_url(object: 'http://data.parliament.uk/publicgeneralact/2023/19' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Act  – private', object_show_url( object: 'http://data.parliament.uk/localgeneralact/2016/2' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Bill', object_show_url( object: 'http://data.parliament.uk/bills/58255' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Church measure', object_show_url( object: 'http://data.parliament.uk/churchmeasure/2021/3' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Deposited paper', object_show_url( object: 'http://data.parliament.uk/depositedpapers/2285506' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Early day motion', object_show_url( object: 'http://data.parliament.uk/edms/47841' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Impact assessment', object_show_url( object: 'http://data.parliament.uk/pimsdata/ImpactAssessment/13131' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Observation on a petition', object_show_url( object: 'http://hansard.intranet.data.parliament.uk/Commons/2022-12-19/2212199000020' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Oral answer', object_show_url( object: 'http://hansard.intranet.data.parliament.uk/Lords/2022-12-21/2212217000022' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Oral question  – answered', object_show_url( object: 'http://hansard.intranet.data.parliament.uk/Lords/2023-12-18/23121826000056' ) ) ) %>
		<%= content_tag( 'li', link_to( 'Oral question  – corrected', object_show_url( object: 'http://hansard.intranet.data.parliament.uk/Lords/2021-05-19/21051926000130' ) ) ) %>
		<%= content_tag( 'li', link_to( 'Oral question  – tabled', object_show_url( object: 'http://tabledpq.indexing.parliament.uk/commons/2015-16/903692' ) ) ) %>
		<%= content_tag( 'li', link_to( 'Oral question  – withdrawn', object_show_url( object: 'http://tabledpq.indexing.parliament.uk/commons/2022-23/900744' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Oral question time intervention', object_show_url( object: 'http://hansard.intranet.data.parliament.uk/Commons/2019-03-19/19031947000220' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Paper ordered to be printed', object_show_url( object: 'http://data.parliament.uk/papers/64712' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Paper petition  – single member', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2022-12-07/22120755000101' ) ) ) %>
		<%= content_tag( 'li', link_to( 'Paper petition  – multiple members', object_show_url( object: 'http://hansard.intranet.data.parliament.uk/Commons/2022-07-13/220713107000568' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Parliamentary paper  – laid', object_show_url(object: 'http://services.paperslaid.parliament.uk/papers/paper/37057' ) ) ) %>
		<%= content_tag( 'li', link_to( 'Parliamentary paper  – reported', object_show_url( object: 'http://data.parliament.uk/selectcommittees/54929' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Parliamentary proceeding', object_show_url( object: 'http://hansard.intranet.data.parliament.uk/Lords/2022-12-21/2212217000100' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Proceeding contribution', object_show_url( object: 'http://hansard.intranet.data.parliament.uk/Lords/2022-12-21/2212217000041' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Research briefing', object_show_url( object: 'http://data.parliament.uk/resources/1786714' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Statutory instrument', object_show_url( object: 'http://paperslaidpoller.parliament.uk/2015-16/2016-05-11/64828' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Transport and Works Act order application', object_show_url( object: 'http://data.parliament.uk/twas/59276' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Written correction – ministerial, to a written answer', object_show_url(object: 'http://data.parliament.uk/correction/commons/2022-23/200877' ) ) ) %>
		<%= content_tag( 'li', link_to( 'Written correction – ministerial, to the Official Report', object_show_url( object: 'http://hansard.intranet.data.parliament.uk/Commons/2025-11-04/25110457000008' ) ) ) %>
		<%= content_tag( 'li', link_to( 'Written correction – Member, to the Official Report', object_show_url( object: 'http://hansard.intranet.data.parliament.uk/Commons/2026-02-04/26020468000024' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Written question – answered', object_show_url( object: 'http://hansard.intranet.data.parliament.uk/Lords/2012-12-10/1212106000156' ) ) ) %>
		<%= content_tag( 'li', link_to( 'Written question – answered, previously holding answer', object_show_url( object: 'http://data.parliament.uk/writtenparliamentaryquestion/commons/2015-16/28407' ) ) ) %>
		<%= content_tag( 'li', link_to( 'Written question – corrected answer', object_show_url( object: 'http://data.parliament.uk/pimsdata/Hansard/PARLIAMENTARY_QUESTION_1395367' ) ) ) %>
		<%= content_tag( 'li', link_to( 'Written question – holding answer', object_show_url( object: 'http://data.parliament.uk/writtenparliamentaryquestion/commons/2024-25/15692' ) ) ) %>
		<%= content_tag( 'li', link_to( 'Written question – tabled', object_show_url( object: 'http://tabledpq.indexing.parliament.uk/commons/2015-16/21659' ) ) ) %>
		<%= content_tag( 'li', link_to( 'Written question – withdrawn', object_show_url( object: 'http://tabledpq.indexing.parliament.uk/commons/2022-23/11562' ) ) ) %>
		
		<%= content_tag( 'li', link_to( 'Written statement', object_show_url( object: 'http://hansard.intranet.data.parliament.uk/Commons/2012-12-18/12121863000016' ) ) ) %>
	</ol>
</div>