<% content_for(:heading) do %>
	<%= @page_title %>
<% end %>

<div class="reading-width">
	<%= content_tag( 'p', "Parliamentary Search contains a built in feature to help our team debug the application. This includes information about what was actually searched for and links to source systems." ) %>

	<%= content_tag( 'p', "Librarian tools are available from both search result pages and object pages." ) %>

	<%= content_tag( 'p', "To access librarian tools, users on a Windows PC need to press:" ) %>

	<p>
		<%= content_tag( 'code', "Ctrl, Alt + D" ) %>
	</p>

	<%= content_tag( 'p', "Mac users need to press:" ) %>

	<p>
		<%= content_tag( 'code', "Control, Option + D" ) %>
	</p>

	<%= content_tag( 'p', "Not all the links shown by librarian tools will work for all users. The link to Solr will only work for users on the parliamentary network with a subscription key. The Indexing link will only work for users on the parliamentary network with access to the Indexing Tool." ) %>
</div>