<% content_for(:heading) do %>
	<%= @page_title %>
<% end %>

<div class="reading-width">

	<%= content_tag( 'p', "We are currently focussed on improving how Parliamentary Search handles queries.".html_safe ) %>

	<%= content_tag( 'p', "Once that work has been tested, we plan to work on an advanced search form, then the functionality to export search results as a spreadsheet." ) %>
	
	<%= content_tag( 'p', "More details of planned work can be found on our public #{link_to( 'Trello board', 'https://trello.com/b/hP5FLFHA/search-application-development' )}.".html_safe ) %>
	
	<%= content_tag( 'p', "The #{link_to( 'website code can be found on GitHub', 'https://github.com/ukparliament/search-prototype' )}. Pull requests are welcome.".html_safe ) %>
</div>