<% unless asking_member.blank? && tabling_member.blank? %>
  <div class="item-details">
    <div class="item-details-label">
      <%= label %>
    </div>
    <% if asking_member.blank? %>
      <span>
      <%= object_display_name(tabling_member, singular: false) %>
      </span>
      <% unless tabling_member_party.blank? %>
        (<%= render 'search/fragments/simple_list', items: tabling_member_party, terminator: "", singular: false %>)
      <% end %>
    <% else %>
      <span>
      <%= object_display_name(asking_member, singular: false) %>
      </span>
      <% unless asking_member_party.blank? %>
        (<%= render 'search/fragments/simple_list', items: asking_member_party, terminator: "", singular: false %>)
      <% end %>
    <% end %>
  </div>
<% end %>