- unless category.blank?
  %div.item-details
  - if category.is_a?(Array)
    %div.item-details-label= "Type"
    %span>= render 'content_type_objects/fragments/simple_list', items: category, separator: ';', terminator: ';', singular: false
  - else
    %div.item-details-label= "Type"
    %span>= object_display_name(category, singular: false)
- unless subtype.blank?
  - unless category.blank?
    %span>= "; "
  - if subtype.is_a?(Array)
    = render 'content_type_objects/fragments/simple_list', items: subtype, separator: ';', terminator: ';', singular: false
  - else
    = object_display_name(subtype, singular: true)
- if subtype.blank? && category.blank?
  - if type.is_a?(Array)
    = render 'content_type_objects/fragments/simple_list', items: type, separator: ';', terminator: ';', singular: false
  - else
    = object_display_name(type, singular: true)