- unless subtype.blank? && type.blank?
  %div.item-details
    %div.item-details-label= "Type"
    - unless subtype.blank?
      - if subtype.is_a?(Array)
        = render 'content_type_objects/fragments/simple_list', items: subtype, separator: ';', terminator: '', singular: false
      - else
        = object_display_name(subtype, singular: false)
    - if subtype.blank?
      - if type.is_a?(Array)
        = render 'content_type_objects/fragments/simple_list', items: type, separator: ';', terminator: '', singular: false
      - else
        = object_display_name(type, singular: false)