<section class="facet">
  <details <%= 'open' if open %> data-expand-facet-name-param=<%= facet_field[:field_name] %>>
    <summary data-action="click->expand-facet#toggle">
      <strong><%= ses_field_name(facet_field[:field_name]) %></strong>
    </summary>
    <% facet_field[:facets][0..4].each do |facet| %>
      <div>
        <%= link_to "#{object_display_name({ value: facet["val"], field_name: facet_field[:field_name] }, singular: false)} (#{facet["count"]})", url_for(apply_filter_url(request.params, facet_field[:field_name], facet["val"])), class: "modifiable-link" %>
      </div>
    <% end %>
    <% unless facet_field[:facets][5..].blank? %>
      <details>
        <summary>More</summary>
        <% facet_field[:facets][5...].each do |facet| %>
          <div>
            <%= link_to "#{object_display_name({ value: facet["val"], field_name: facet_field[:field_name] }, singular: false)} (#{facet["count"]})", url_for(apply_filter_url(request.params, facet_field[:field_name], facet["val"])), class: "modifiable-link" %>
          </div>
        <% end %>
      </details>
    <% end %>
  </details>
</section>