<% if id && @type_facets[id] %>
  <div class="grid-row">
    <span class="facet-toggle toggle-<%= parent_id %> <%= 'collapse' if (tier > 1 && !@expanded_types.include?(parent_id.to_s)) %>" style="margin-left: <%= (tier - 1) * 0 %>px;">
      <% if @hierarchy_data.dig(id, :children).any? %>
        <a data-expand-types-id-param="<%= id %>" data-action="click->expand-types#toggle">
          <% if @expanded_types.include?(id.to_s) %>
            -
          <% else %>
            &#43;
          <% end %>
        </a>
      <% end %>
    </span>

    <span class="facet-link toggle-<%= parent_id %> <%= 'collapse' if (tier > 1 && !@expanded_types.include?(parent_id.to_s)) %>">
      <%= link_to_if(!request.params.dig(:filter, "type_sesrollup")&.include?(id.to_s), "#{@hierarchy_data.dig(id, :name)} (#{ number_to_delimited(@type_facets[id] || 0, separator: ",") })", url_for(apply_filter_url(request.params, 'type_sesrollup', id)), class: 'modifiable-link', title: scope_note("#{id}_scope_note")) %>
      <% if @hierarchy_data.dig(id) %>
        <% @hierarchy_data.dig(id, :children).each do |child| %>
          <%= render 'hierarchy_layer', id: child.dig(:id), tier: tier + 1, parent_id: id %>
        <% end %>
      <% end %>
    </span>
  </div>
<% end %>