<li>
	<%= content_tag( 'h3', result['title_t'] ) %>

	<% unless result['all_uri'].empty? %>
		<%= content_tag( 'h4', 'URIs' ) %>
		<ul>
			<%= render :partial => 'result_uri', :collection => result['all_uri'] %>
		</ul>
	<% end -%>

	<% unless result['bibliographicCitation_t'].empty? %>
		<%= content_tag( 'h4', 'Bibliographic citations' ) %>
		<ul>
			<%= render :partial => 'result_bibliographic_citation', :collection => result['bibliographicCitation_t'] %>
		</ul>
	<% end -%>
	
	<details>
		<%= content_tag( 'summary', 'SOLR data' ) %>
	    <%= result %>
	</details>
</li>