<% content_for(:before_title) do %>
  <%= link_to('UK Parliament', root_path) %> / <%= link_to('Open data', root_path) %><br/>
  <div id="top"></div>
<% end %>

<%#= render 'search/fragments/data', data: @response, title: 'Full response' %>
<%#= render 'search/fragments/data', data: @metadata, title: 'Search metadata' %>
<%#= render 'search/fragments/data', data: @ses_data, title: 'SES results' %>
<%#= render 'search/fragments/data', data: @search_data.facets, title: 'Facets' %>
<%= render 'search/fragments/data', data: @hierarchy_data, title: 'Hierarchy data' %>
<%#= render 'search/fragments/data', data: @top_level, title: 'Hierarchy top level types' %>
<%#= render 'search/fragments/data', data: @toggled_facets, title: 'Toggled facets' %>
<%#= render 'search/fragments/data', data: request.params, title: 'All params' %>

<%= form_with url: search_url, method: :get, remote: true, id: 'search-form' do |f| %>
  <section id="search" class="content-section white-slim">
    <div class="search-grid-container">
      <%= f.text_field :query, class: 'grid-item', id: 'search-input', value: @search_data.query %>
      <%= f.submit 'Search', class: 'grid-item', id: 'search-button' %>
    </div>
  </section>
<% end %>

<% if @search_data.objects.blank? %>
  <section class="content-section white centered">
    <p>
      No results found for <strong><%= @search_data.query %></strong>. Please adjust your search query and try
      again.<br/>
      If you think this search should return results, please
      email <%= mail_to "parliamentarysearch@parliament.co.uk" %>.
    </p>
  </section>
<% else %>
  <section id="search-results">
    <div class="results-grid-container">
      <div class="filter-container" data-controller="expand-facet">
        <% unless request.params.dig(:filter).blank? %>
          <section class="applied-filters">
            <div class="applied-filter-container">
              <% request.params.dig(:filter).sort.each do |filter| %>
                <% filter.last.sort.each do |filter_value| %>
                  <div class="filter-wrapper">
                    <div class="filter">
                      <div class="top-row">
                        <span class="filter-name-label">
                          <%= ses_field_name(filter.first) %>
                        </span>
                        <span class="flex-spacer"></span>
                        <span class="filter-link">
                          <%= link_to sanitize("&#x2717;"), url_for(remove_filter_url(request.params, filter.first, filter_value)), class: 'modifiable-link' %>
                        </span>
                      </div>
                      <div class="bottom-row">
                        <div class="filter-name">
                          <%= object_display_name({ value: filter_value.to_i, field_name: filter.first }, singular: false) %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </section>
        <% end %>

        <section class="facet">
          <details open>
            <summary>
              <strong>Type</strong>
            </summary>
            <div class="facets" data-controller="expand-types">
              <% if @expanded_types.blank? %>
                <% @hierarchy_builder.top_level_types&.each do |top_level_type| %>
                  <%= render 'hierarchy_layer', hash: top_level_type, id: top_level_type[:id], tier: 1, parent_id: 0 %>
                <% end %>
              <% else %>
                <% @expanded_types&.each do |filtered_type| %>
                  <%= render 'hierarchy_layer', hash: filtered_type, id: filtered_type[:id], tier: 1, parent_id: 0 %>
                <% end %>
              <% end %>
            </div>
          </details>
        </section>

        <% @search_data.facets.select { |h| ["legislature_ses", "session_t", "date_dt", "department_ses", "member_ses"].include?(h.dig(:field_name)) }.each do |facet_field| %>
          <% unless facet_field[:facets].blank? %>
            <%= render 'filter_section', facet_field: format_facets(facet_field), open: !@toggled_facets.include?(facet_field[:field_name]) %>
          <% end %>
        <% end %>

        <% @search_data.facets.select { |h| ["tablingMember_ses", "askingMember_ses", "leadMember_ses", "answeringMember_ses", "legislativeStage_ses", "legislationTitle_ses", "subject_ses"].include?(h.dig(:field_name)) }.each do |facet_field| %>
          <% unless facet_field[:facets].blank? %>
            <%= render 'filter_section', facet_field: format_facets(facet_field), open: @toggled_facets.include?(facet_field[:field_name]) %>
          <% end %>
        <% end %>
      </div>

      <div class="results-container" data-controller="detailed-results">
        <section class="search-control-panel">
          <div class="control-panel-row">
            <strong><%= number_to_delimited(@search_data.number_of_results, separator: ",") %><%= @search_data.number_of_results && @search_data.number_of_results > 1 ? " results" : " result" %></strong>
          </div>
          <div class="control-panel-row">
            <label class="search-control-panel-label">
              <span>Show detailed</span>
            </label>
            <label class="toggle">
              <input hidden id="show-detailed" type="checkbox" <%= 'checked' if params[:show_detailed] == "true" %> data-action="change->detailed-results#toggle">
              <span class="slider"></span>
            </label>
            <div class="flex-spacer"></div>

            <%= form_with url: request.url, method: :get, remote: true, id: 'results-per-page' do |rf| %>
              <% unless request.params.dig(:filter).blank? %>
                <% request.params.dig(:filter).keys.each do |filter_key| %>
                  <%= rf.hidden_field "filter[#{filter_key}]", value: request.params.dig(:filter, filter_key), multiple: true %>
                <% end %>
              <% end %>
              <% unless request.params.dig(:query).blank? %>
                <%= rf.hidden_field :query, value: request.params.dig(:query) %>
              <% end %>
              <% unless request.params.dig(:sort_by).blank? %>
                <%= rf.hidden_field :sort_by, value: request.params.dig(:sort_by) %>
              <% end %>
              <%= rf.hidden_field :expanded_types, value: request.params.dig(:expanded_types), class: 'hidden-existing-ids' %>
              <%= rf.hidden_field :show_detailed, value: request.params.dig(:show_detailed), class: 'hidden-show-detailed' %>
              <%= rf.hidden_field :toggled_facets, value: request.params.dig(:toggled_facets), class: 'hidden-toggled-facets' %>
              <%= rf.select "results_per_page", options_for_select([["Show 10 results", 10], ["Show 20 results", 20], ["Show 50 results", 50], ["Show 100 results", 100]], selected: @search_data.results_per_page), {}, { onchange: "this.form.submit()", class: 'form-select' } %>
            <% end %>

            <%= form_with url: request.url, method: :get, remote: true, id: 'sort-by' do |sf| %>
              <% unless request.params.dig(:filter).blank? %>
                <% request.params.dig(:filter).keys.each do |filter_key| %>
                  <%= sf.hidden_field "filter[#{filter_key}]", value: request.params.dig(:filter, filter_key), multiple: true %>
                <% end %>
              <% end %>
              <% unless request.params.dig(:query).blank? %>
                <%= sf.hidden_field :query, value: request.params.dig(:query) %>
              <% end %>
              <% unless request.params.dig(:results_per_page).blank? %>
                <%= sf.hidden_field :results_per_page, value: request.params.dig(:results_per_page) %>
              <% end %>
              <%= sf.hidden_field :expanded_types, value: request.params.dig(:expanded_types), class: 'hidden-existing-ids' %>
              <%= sf.hidden_field :show_detailed, value: request.params.dig(:show_detailed), class: 'hidden-show-detailed' %>
              <%= sf.hidden_field :toggled_facets, value: request.params.dig(:toggled_facets), class: 'hidden-toggled-facets' %>
              <%= sf.select("sort_by", options_for_select([["Newest first", "date_desc"], ["Oldest first", "date_asc"]], selected: @search_data.sort), {}, { onchange: 'this.form.submit()', class: 'form-select' }) %>
            <% end %>

          </div>
        </section>

        <div>
          <% @search_data.objects.each do |object| %>
            <%= render object.search_result_partial, object: object %>
          <% end %>

          <% unless @search_data.current_page.blank? || @search_data.total_pages.blank? %>
            <p>
              Showing results <strong><%= @search_data.start %> - <%= @search_data.end %></strong> of
              <strong><%= number_to_delimited(@search_data.number_of_results, separator: ",") %></strong> in
              <strong>
                <%= "#{@search_data.query_time.round(3)} seconds" %>
                (<%= "#{(Time.now - @start_time).round(3)} seconds" %>).
              </strong>
            </p>
            <%= render 'pagination', user_requested_page: @search_data.current_page, last_page: @search_data.total_pages, query: @search_data.query, filter: @search_data.filter, sort_by: @search_data.sort, results_per_page: @search_data.results_per_page %>
          <% end %>
        </div>
      </div>
    </div>

  </section>
<% end %>