<% content_for(:before_title) do %>
  <%= link_to('UK Parliament', root_path) %> / <%= link_to('Open data', root_path) %><br/>
  <div id="top"></div>
<% end %>

<section>
  <h3>Search results</h3>

  <% unless @search.filter.blank? %>
    <p>
      Showing rows <strong><%= @start %> - <%= @end %></strong> of
      <strong><%= @number_of_results %></strong>
      results for
      <strong><%= @search.filter[:field_name] %></strong> of
      <strong>"<%= object_display_name(@search.filter.to_h, singular: false) %>"</strong>
    </p>
  <% end %>

  <% @results.each do |result| %>
    <p>
      <%#= result %>
      <%= link_to(result["title_t"], object_show_url(:object => result["uri"])) %><br/>
      <%= @ses_data[result["type_ses"].first] %>
    </p>
  <% end %>

</section>

<div id="pagination">
  <%= link_to "1", search_url(query: @search.query, filter: @search.filter, page: 0), { method: :post } %>
  <%= link_to "2", search_url(query: @search.query, filter: @search.filter, page: 1), { method: :post } %>
  <%= link_to "3", search_url(query: @search.query, filter: @search.filter, page: 2), { method: :post } %>
</div>
