<% content_for(:before_title) do %>
  <%= link_to('UK Parliament', root_path) %> / <%= link_to('Open data', root_path) %><br/>
  <div id="top"></div>
<% end %>

<%#= render 'search/fragments/data', data: @metadata, title: 'Search metadata' %>
<%#= render 'search/fragments/data', data: @results, title: 'Search results' %>
<%#= render 'search/fragments/data', data: @all_facets, title: 'Facets' %>

<%= form_with url: search_url, method: :get, local: true, id: 'search-form' do |f| %>
  <section id="search" class="content-section white">
    <h2 class="content-heading">Search</h2>
    <div class="search-grid-container">
      <%= f.text_field :query, class: 'grid-item', id: 'search-input', value: @search.blank? ? nil : @search.query %>
      <%= f.submit 'Search', class: 'grid-item', id: 'search-button' %>
    </div>
  </section>

  <section id="search-results">
    <div class="results-grid-container">
      <div class="filter-container">
        <%= f.fields_for :filter do |filter_form| %>
          <% @all_facets.each do |facet_field| %>
            <% unless facet_field[:facets].blank? %>
              <details open>
                <summary>
                  <strong><%= ses_field_name(facet_field[:field_name]) %></strong>
                </summary>
                <div class="facets">
                  <% facet_field[:facets].each do |facet| %>
                    <div class="facet-check">
                      <%= filter_form.check_box facet_field[:field_name], { multiple: true, checked: checked_field(params[:filter], facet_field[:field_name], facet.first), onchange: 'this.form.submit()' }, facet.first, nil %>
                    </div>
                    <div class="facet-label">
                      <div><%= object_display_name({ value: facet.first, field_name: facet_field[:field_name] }, singular: false) %>
                        (<%= facet.last.to_i %>)
                      </div>
                    </div>
                  <% end %>
                </div>
              </details>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="results-container" data-controller="detailed-results">
        <div class="search-control-panel">
          <div class="control-panel-row">
            <strong><%= @number_of_results %> results</strong>
          </div>
          <div class="control-panel-row">
            <label class="search-control-panel-label">
              <span>Show detailed</span>
            </label>
            <label class="toggle">
              <input hidden type="checkbox" data-action="change->detailed-results#toggle">
              <span class="slider"></span>
            </label>
            <div class="flex-spacer"></div>
            <label class="search-control-panel-label">
              <span>Results per page</span>
            </label>
            <%= select_tag("number_of_results", options_for_select([10, 20, 30])) %>
            <label class="search-control-panel-label">
              <span>Sort by</span>
            </label>
            <%= select_tag("sort_by", options_for_select(["Date"])) %>
          </div>
        </div>

        <div>
          <% @objects.each do |object| %>
            <%= render object.search_result_partial, object: object %>
            <br>
            <hr>
          <% end %>

          <% unless @search.current_page.blank? || @total_pages.blank? %>
            <p>
              Showing results <strong><%= @start %> - <%= @end %></strong> of
              <strong><%= @number_of_results %></strong>
            </p>
            <%= render 'pagination', user_requested_page: @search.user_requested_page, last_page: @total_pages, query: @search.query, filter: @search.filter %>
          <% end %>
        </div>
      </div>
    </div>

  </section>
<% end %>