<% content_for(:before_title) do %>
  <%= link_to('UK Parliament', root_path) %> / <%= link_to('Open data', root_path) %><br/>
  <div id="top"></div>
<% end %>

<section>
  <h3>Search results</h3>

  <% unless params[:filter].blank? %>
    <p>
      Results for <%= params[:filter][:field_name] %> of "<%= object_display_name(params[:filter], singular: false, lowercase: false) %>"
    </p>
  <% end %>
  <!--  <h6>Found <%#= @metadata['numFound'] %> results</h6>-->

  <ul>
    <% @items.each do |item| %>
      <li>
        <%= link_to(item["title_t"], object_show_url(:object => item["uri"])) %>
      </li>
    <% end %>
  </ul>

</section>

<div id="pagination">
  <%= link_to "1", search_url(query: params[:query], page: 1), { method: :post } %>
  <%= link_to "2", search_url(query: params[:query], page: 2), { method: :post } %>
  <%= link_to "3", search_url(query: params[:query], page: 3), { method: :post } %>
</div>
