<div id="query-meta">
	<%= content_tag( 'p', "Query: #{results['responseHeader']['params']['q']}" ) %>
	<%= content_tag( 'p', "#{results['response']['numFound']} results found in #{results['responseHeader']['QTime']}ms." ) %>
	<%= content_tag( 'p', "Results offset: #{results['response']['start']}" ) %>
	<%= content_tag( 'p', "Status (of SOLR?): #{results['responseHeader']['status']}" ) %>
</div>

<div id="results">
	<%= content_tag( 'h2', 'Results' ) %>
	<% if results['response']['docs'].empty? -%>
		<%= content_tag( 'p', 'No results found for your search.' ) %>
	<% else -%>
		<ol>
			<%= render :partial => 'result', :collection => results['response']['docs'] %>
		</ol>
	<% end -%>
</div>