<% content_for(:before_title) do %>
  <%= link_to('UK Parliament', root_path) %> / <%= link_to('Open data', root_path) %><br/>
  <div id="top"></div>
<% end %>

<h1>
  <%= yield :title %>
</h1>

<%= render '/shared/search_bar' %>

<%= render '/shared/examples' %>