<%= render 'search/fragments/edm_prelim', object: object %>

<div class="content">
  <p>
    <%= object.motion_text %>
  </p>
</div>

<%= render 'search/fragments/meta', object: object %>

<%= render 'search/fragments/link', link: object.external_location_uri %>

<%= render 'search/fragments/data', data: object.content_object_data %>