<%#= render 'search/fragments/meta', object: object %>

<%#= render 'search/fragments/link', link: object.external_location_uri %>

<%= render 'search/fragments/data', data: object.content_object_data %>

<% if object.page_title %>
  <% content_for(:title) do %>
    <header>
      <h1>
        <%= object.page_title %>
      </h1>
    </header>

  <% end %>
<% end %>

<section id="prelim">
  <%= render 'search/fragments/edm_prelim', object: object %>
</section>

<section id="text">
  <div class="content-text-wrapper">
    <div class="content-text">
      <%= object.motion_text %>
      <%#= render '/search/fragments/copy_text_button' %>
    </div>
  </div>
</section>

<section id="about">
  <div class=content-about>
    <div class="content-about-inner">
      <h2 class="content-heading">About this early day motion</h2>

      <!--      generic items-->
      <div class="content-about-text">
        <h3 class="content-heading">Reference</h3>
        <%= object.reference %>
      </div>

      <div class="content-about-text">
        <h3 class="content-heading">Session</h3>
        <%= object.session %>
      </div>

      <!--      Other supporters / generic list partial -->
      <div class="content-about-text">
        <h3 class="content-heading">Other supporters</h3>
        <ul class="content-about-list">
          <% object.other_supporters.each do |supporter| %>
            <li class="content-about-list-item">- <%= link_to supporter, '/' %></li>
          <% end %>
        </ul>
      </div>

      <div class="content-about-text">
        <h3 class="content-heading">Registered interest declared</h3>
        <%= object.registered_interest_declared %>
      </div>

      <!--      amendments partial-->
      <div class="content-about-text">
        <h3 class="content-heading">Amendments</h3>
        <div>
          <ul>
            <% object.amendments.each do |amendment| %>

              <li>
                <div class="amendment-title">
                  <strong>Amendment <%= amendment[:index] + 1 %> - <%= object.page_title %></strong>
                  <span class="amendment-title-ref">(<%= amendment[:reference] %>)</span>
                </div>
                <div class="amendment-text"><%= amendment[:text] %></div>
                <div class="amendment-sponsors-wrapper">
                  Sponsored by <%= amendment[:primary_sponsor] %> (primary, <%= amendment[:primary_sponsor_party] %>)
                  on <%= amendment[:date_tabled]&.to_date&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %>. It has
                  been signed by <%= amendment[:number_of_signatures] %> members total.
                </div>
              </li>

            <% end %>

          </ul>
        </div>
      </div>

      <!--      related items partial-->
      <div class="content-about-text">
        <h3 class="content-heading">Related items</h3>
        <div>
          <%= link_to 'Food and Drink Act 2023', '/' %><br/>
          Thursday, 2 February 2023 | Public acts
        </div>
        <div>
          <%= link_to 'Privacy Act 2023', '/' %><br/>
          Thursday, 2 February 2023 | Public acts
        </div>
      </div>

      <!--      subjects partial-->
      <div class="content-about-text">
        <h3 class="content-heading">Subjects</h3>
        <div class="pill-section">
          <div class="pill-wrapper">
            <div class="subject-pill">Privacy</div>
          </div>
          <div class="pill-wrapper">
            <div class="subject-pill">Crime</div>
          </div>
          <div class="pill-wrapper">
            <div class="subject-pill">Food and drink
            </div>
          </div>
          <div class="pill-wrapper">
            <div class="subject-pill">Police</div>
          </div>
          <div class="pill-wrapper">
            <div class="subject-pill">Young people
            </div>
          </div>
          <div class="pill-wrapper">
            <div class="subject-pill">Schools</div>
          </div>
          <div class="pill-wrapper">
            <div class="subject-pill">Teachers</div>
          </div>
          <div class="pill-wrapper">
            <div class="subject-pill">Pay</div>
          </div>
          <div class="pill-wrapper">
            <div class="subject-pill">World economy
            </div>
          </div>
          <div class="pill-wrapper">
            <div class="subject-pill">Inflation</div>
          </div>
          <div class="pill-wrapper">
            <div class="subject-pill">Education</div>
          </div>
          <div class="pill-wrapper">
            <div class="subject-pill">Students</div>
          </div>
        </div>
      </div>

      <!--      legislation partial-->
      <div class="content-about-text">
        <h3 class="content-heading">Legislation</h3>
        <%= link_to 'Privacy Act 2023', '/' %>
        <%= link_to 'Food and Drink Act 2023', '/' %>
      </div>

      <!--      links partial-->
      <div class="content-about-text">
        <h3 class="content-heading">Links</h3>
        <%= link_to 'View this early day motion on edm.parliament.uk', '/' %>
      </div>

    </div>
  </div>
</section>

<%#= render '/search/fragments/back_to_top_button' %>