<% if Rails.env.development? %>
  <%= render 'search/fragments/data', data: object.content_object_data, title: 'SOLR Data' %>
  <%= render 'search/fragments/data', data: @ses_data, title: 'SES Data' %>
  <section class="content-section">
    <div class="about-item">
      <details class="solr-data">
        <summary>
          Oral question debug info
        </summary>
        <code>
          Class name: <%= object.class.name %><br/>
          State: <%= object.state[:value] %><br/>
          Corrected: <%= object.corrected? %><br/>
          Partial used: <%= object.prelim_partial %>
        </code>
      </details>
    </div>
  </section>
<% end %>

<% content_for(:before_title) do %>
  <%= link_to('UK Parliament', root_path) %> / <%= link_to('Open data', root_path) %><br/>
  <div id="top"></div>
<% end %>

<% content_for(:title) do %>
  <%= object.object_title %>
<% end %>

<section id="prelim">
  <%= render object.prelim_partial, object: object %>
</section>

<section id="main-content" class="content-section white">
  <%= render 'search/fragments/question', object: object %>
  <% unless object.answer_item_link.blank? %>
    <%= render 'search/fragments/answer', object: @associated_object_data[object.answer_item_link] unless object.tabled? || object.withdrawn? %>
  <% end %>
</section>

<section id="about" class="content-section grey">
  <h2 class="content-heading">About this <%= object_display_name(object.type, case_formatting: true) %></h2>
  <%= render 'search/fragments/reference', reference: object.reference %>
  <%= render 'search/fragments/session', session: object.parliamentary_session %>
  <%= render 'search/fragments/oral_question_type', contribution_type: object.contribution_type %>
  <%= render 'search/fragments/procedure', procedure: object.procedure %>
  <%= render 'search/fragments/place', place: object.place %>
  <%= render 'search/fragments/related_items', related_item_ids: object.related_item_ids %>
  <%= render 'search/fragments/ec_documents', ec_documents: object.ec_documents %>
  <%= render 'search/fragments/notes', notes: object.notes %>
  <%= render 'search/fragments/registered_interest_declared', registered_interest: object.registered_interest_declared %>
  <%= render 'search/fragments/transferred', transferred: object.is_transferred %>
  <%= render 'search/fragments/pills', pills_heading: 'Subjects', pills: object.subjects %>
  <%= render 'search/fragments/legislation', legislation: object.legislation %>
  <%= render 'search/fragments/contains_statistics', contains_statistics: object.contains_statistics %>

  <% if object.answered? || object.corrected? %>
    <%= render 'search/fragments/subtype_link', object: object %>
  <% end %>
</section>

<%= render '/search/fragments/about_this_result', object: object %>
<%= render '/search/fragments/back_to_top_button' %>