<% if Rails.env.development? %>
  <%= render 'search/fragments/data', data: object.content_object_data, title: 'SOLR Data' %>
  <%= render 'search/fragments/data', data: @ses_data, title: 'SES Data' %>
<% end %>

<% content_for(:before_title) do %>
  <%= link_to('UK Parliament', root_path) %> / <%= link_to('Open data', root_path) %><br/>
  <%#= link_to('< Back to search results', root_path) %>
  <div id="top"></div>
<% end %>

<% if object.page_title %>
  <% content_for(:title) do %>
    <%= object.page_title %>
  <% end %>
<% end %>

<section id="prelim">
  <%= render 'search/preliminary_sentences/parliamentary_proceeding', object: object %>
</section>

<% unless object.abstract_text.blank? %>
  <section id="main-content" class="content-section white">
    <div class="content-text">
      <%= raw object.abstract_text[:value] %>
    </div>
  </section>
<% end %>

<section id="about" class="content-section grey">
  <h2 class="content-heading">About this <%= object_display_name(object.type) %></h2>
  <%= render 'search/fragments/reference', reference: object.reference %>
  <%= render 'search/fragments/session', session: object.parliamentary_session %>
  <%= render 'search/fragments/departments', departments: object.departments %>
  <%= render 'search/fragments/corporate_author', author: object.corporate_author %>
  <%= render 'search/fragments/witnesses', witnesses: object.witnesses %>
  <%= render 'search/fragments/procedure', procedure: object.procedure %>
  <%= render 'search/fragments/place', place: object.place %>
  <%= render 'search/fragments/related_items', related_items: object.related_items %>
  <%= render 'search/fragments/contributions', contributions: object.contributions %>
  <%= render 'search/fragments/ec_documents', ec_documents: object.ec_documents %>
  <%= render 'search/fragments/notes', notes: object.notes %>
  <%= render 'search/fragments/pills', pills_heading: 'Subjects', pills: object.subjects %>
  <%= render 'search/fragments/legislation', legislation: object.legislation %>
  <%= render 'search/fragments/contains_statistics', contains_statistics: object.contains_statistics? %>
  <%= render 'search/fragments/link', object: object %>
</section>

<%= render '/search/fragments/back_to_top_button' %>