<%= render 'search/fragments/data', data: object.content_object_data %>

<% content_for(:before_title) do %>
  <%= link_to('UK Parliament') %> / <%= link_to('Open data') %><br/>
  <%#= link_to('< Back to search results', root_path) %>
  <div id="top"></div>
<% end %>

<% if object.page_title %>
  <% content_for(:title) do %>
    <%= object.page_title %>
  <% end %>
<% end %>

<section id="prelim">
  <%= render object.prelim_partial, object: object %>
</section>

<%= render 'search/fragments/question', object: object %>
<%= render 'search/fragments/answer', object: object if object.answered? || object.answered_was_holding? %>

<!--Currently no data present for these categories of written question-->
<%#= render 'search/fragments/holding_answer', object: object if object.holding? %>
<%#= render 'search/fragments/corrected_answer', object: object if object.corrected? %>

<section id="about" class="content-section grey">
  <h2 class="content-heading">About this <%= object.object_name %></h2>
  <%#= render 'search/fragments/uin', uin: object.uin unless object.uin.blank? %>
  <%= render 'search/fragments/session', session: object.session unless object.session.blank? %>
  <%#= render 'search/fragments/procedure', procedure: object.procedure unless object.procedure.blank? %>
  <%= render 'search/fragments/related_items', related_items: object.related_items unless object.related_items.blank? %>
  <%= render 'search/fragments/notes', notes: object.notes unless object.notes.blank? %>
  <%= render 'search/fragments/registered_interest_declared', registered_interest_declared: object.registered_interest_declared unless object.registered_interest_declared.blank? %>
  <%= render 'search/fragments/attachment', attachment: object.attachment unless object.attachment.blank? %>
  <% unless object.tabled? || object.withdrawn? %>
    <%#= render 'search/fragments/grouped_for_answer', grouped: object.grouped_for_answer? %>
    <%#= render 'search/fragments/transferred?', grouped: object.transferred? %>
  <% end %>
  <!--  failed oral-->
  <!--  unstarred-->
  <%= render 'search/fragments/pills', pills_heading: 'Subjects', pills: object.subjects unless object.subjects.blank? %>
  <%= render 'search/fragments/legislation', legislation: object.legislation unless object.legislation.blank? %>
  <%= render 'search/fragments/links', object: object if object.has_link? %>
</section>

<%= render '/search/fragments/back_to_top_button' %>