<% if Rails.env.development? %>
  <%= render 'search/fragments/data', data: object.content_object_data, title: 'SOLR Data' %>
  <%= render 'search/fragments/data', data: @ses_data, title: 'SES Data' %>
<% end %>

<% content_for(:before_title) do %>
  <%= link_to('UK Parliament', root_path) %> / <%= link_to('Open data', root_path) %><br/>
  <div id="top"></div>
<% end %>

<% if object.page_title %>
  <% content_for(:title) do %>
    <%= object.page_title %>
  <% end %>
<% end %>

<section id="prelim">
  <%= render object.prelim_partial, object: object %>
</section>

<section id="main-content" class="content-section white">
  <%= render 'search/fragments/question', object: object %>
  <%= render 'search/fragments/answer', object: object if object.answered? || object.answered_was_holding? %>
  <!--  requires answering member & party, department & date of answer-->
  <%= render 'search/fragments/corrected_written_question_follow_up', correcting_object: object.correcting_object if object.corrected? %>
  <%= render 'search/fragments/corrected_answer', object: object if object.corrected? %>
</section>

<section id="about" class="content-section grey">
  <h2 class="content-heading">About this <%= object_display_name(object.type) %></h2>
  <%= render 'search/fragments/uin', uins: object.uin %>
  <%= render 'search/fragments/session', session: object.parliamentary_session %>
  <%= render 'search/fragments/procedure', procedure: object.procedure %>
  <%= render 'search/fragments/attachment', attachments: object.attachment %>
  <%= render 'search/fragments/related_items', related_items: object.related_items %>
  <%= render 'search/fragments/ec_documents', ec_documents: object.ec_documents %>
  <%= render 'search/fragments/notes', notes: object.notes %>
  <%= render 'search/fragments/registered_interest_declared', registered_interest: object.registered_interest_declared %>
  <% unless object.tabled? || object.withdrawn? %>
    <%= render 'search/fragments/grouped_for_answer', grouped: object.is_grouped_for_answer %>
    <%= render 'search/fragments/transferred', transferred: object.is_transferred %>
  <% end %>
  <%= render 'search/fragments/failed_oral', failed_oral: object.has_failed_oral %>
  <%= render 'search/fragments/unstarred', unstarred: object.is_unstarred_question %>
  <%= render 'search/fragments/pills', pills_heading: 'Subjects', pills: object.subjects %>
  <%= render 'search/fragments/legislation', legislation: object.legislation %>
  <%= render 'search/fragments/contains_statistics', contains_statistics: object.contains_statistics %>
  <%= render 'search/fragments/link', object: object %>
</section>

<%= render '/search/fragments/back_to_top_button' %>