<h1 class="reading-width">Example object pages</h1>

<h2 class='reading-width'>
  Acts
</h2>
<dl class='reading-width'>
  <dt>Public</dt>
  <dd>
    <%= link_to('http://data.parliament.uk/publicgeneralact/2023/19', object_show_url(object: 'http://data.parliament.uk/publicgeneralact/2023/19')) %>
  </dd>
  <dt>Private</dt>
  <dd>
    <%= link_to('http://data.parliament.uk/localgeneralact/2016/2', object_show_url(object: 'http://data.parliament.uk/localgeneralact/2016/2')) %>
  </dd>
</dl>

<h2 class='reading-width'>
  Bills
</h2>
<p class='reading-width'>
  <%= link_to('http://data.parliament.uk/bills/58255', object_show_url(object: 'http://data.parliament.uk/bills/58255')) %>
</p>

<h2 class='reading-width'>
  Church measures
</h2>
<p class='reading-width'>
  <%= link_to('http://data.parliament.uk/churchmeasure/2021/3', object_show_url(object: 'http://data.parliament.uk/churchmeasure/2021/3')) %>
</p>

<h2 class='reading-width'>
  Deposited papers
</h2>
<p class='reading-width'>
  <%= link_to('http://data.parliament.uk/depositedpapers/2285506', object_show_url(object: 'http://data.parliament.uk/depositedpapers/2285506')) %>
</p>

<h2 class='reading-width'>
  Early day motions
</h2>
<dl class='reading-width'>
  <dd>
    <%= link_to('http://data.parliament.uk/edms/22468', object_show_url(object: 'http://data.parliament.uk/edms/22468')) %>
  </dd>
  <dd>
    <%= link_to('http://data.parliament.uk/edms/47841', object_show_url(object: 'http://data.parliament.uk/edms/47841')) %>
  </dd>
</dl>

<h2 class='reading-width'>
  Impact assessments
</h2>
<p class='reading-width'>
  <%= link_to('http://data.parliament.uk/pimsdata/ImpactAssessment/13131', object_show_url(object: 'http://data.parliament.uk/pimsdata/ImpactAssessment/13131')) %>
</p>

<h2 class='reading-width'>
  Ministerial corrections
</h2>
<dl class='reading-width'>
  <dd>
    <%= link_to('http://data.parliament.uk/pimsdata/hansard/PROCEEDING_67029', object_show_url(object: 'http://data.parliament.uk/pimsdata/hansard/PROCEEDING_67029')) %>
  </dd>
  <dd>
    <%= link_to('http://hansard.intranet.data.parliament.uk/Commons/2013-12-19/13121970000003', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2013-12-19/13121970000003')) %>
  </dd>
  <dd>
    <%= link_to('http://hansard.intranet.data.parliament.uk/Commons/2022-12-20/22122049000024', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2022-12-20/22122049000024')) %>
  </dd>
</dl>

<h2 class='reading-width'>
  Observations on petitions
</h2>
<p class='reading-width'>
  <%= link_to('http://hansard.intranet.data.parliament.uk/Commons/2022-12-19/2212199000020', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2022-12-19/2212199000020')) %>
</p>

<h2 class='reading-width'>
  Oral answers
</h2>
<p class='reading-width'>
  <%= link_to('http://hansard.intranet.data.parliament.uk/Lords/2022-12-21/2212217000022', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Lords/2022-12-21/2212217000022')) %>
</p>

<h2 class='reading-width'>
  Oral questions
</h2>
<dl class='reading-width'>
  <dt>Answered</dt>
  <dd>
    <%= link_to('http://data.parliament.uk/pimsdata/Hansard/PARLIAMENTARY_QUESTION_366351/-question', object_show_url(object: 'http://data.parliament.uk/pimsdata/Hansard/PARLIAMENTARY_QUESTION_366351/-question')) %>
  </dd>
  <dt>Corrected</dt>
  <dd>
    <%= link_to('http://hansard.intranet.data.parliament.uk/Lords/2021-05-19/21051926000130', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Lords/2021-05-19/21051926000130')) %>
  </dd>
  <dt>Tabled</dt>
  <dd>
    <%= link_to('http://tabledpq.indexing.parliament.uk/commons/2015-16/903692', object_show_url(object: 'http://tabledpq.indexing.parliament.uk/commons/2015-16/903692')) %>
  </dd>
  <dt>Withdrawn</dt>
  <dd>
    <%= link_to('http://tabledpq.indexing.parliament.uk/commons/2022-23/900744', object_show_url(object: 'http://tabledpq.indexing.parliament.uk/commons/2022-23/900744')) %>
  </dd>
</dl>

<h2 class='reading-width'>
  Oral question time interventions
</h2>
<p class='reading-width'>
  <%= link_to('http://data.parliament.uk/pimsdata/hansard/CONTRIBUTION_241033', object_show_url(object: 'http://data.parliament.uk/pimsdata/hansard/CONTRIBUTION_241033')) %>
</p>

<h2 class='reading-width'>
  Research briefings
</h2>
<p class='reading-width'>
  <%= link_to('http://data.parliament.uk/resources/1786714', object_show_url(object: 'http://data.parliament.uk/resources/1786714')) %>
</p>

<h2 class='reading-width'>
  Papers ordered to be printed
</h2>
<p class='reading-width'>
  <%= link_to('http://data.parliament.uk/papers/64712', object_show_url(object: 'http://data.parliament.uk/papers/64712')) %>
</p>

<h2 class='reading-width'>
  Paper petitions
</h2>
<dl class="reading-width">
  <dt>Single member</dt>
  <dd>
    <%= link_to('http://hansard.intranet.data.parliament.uk/Commons/2022-12-07/22120755000101', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2022-12-07/22120755000101')) %>
  </dd>
  <dt>Multiple members</dt>
  <dd>
    <%= link_to('http://hansard.intranet.data.parliament.uk/Commons/2022-07-13/220713107000568', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2022-07-13/220713107000568')) %>
  </dd>
</dl>

<h2 class='reading-width'>
  Papers submitted
</h2>
<p class='reading-width'>
  <%= link_to('http://data.parliament.uk/papers/57365', object_show_url(object: 'http://data.parliament.uk/papers/57365')) %>
</p>

<h2 class='reading-width'>
  Parliamentary papers
</h2>
<dl class='reading-width'>
  <dt>Laid</dt>
  <dd>
    <%= link_to('http://services.paperslaid.parliament.uk/papers/paper/37057', object_show_url(object: 'http://services.paperslaid.parliament.uk/papers/paper/37057')) %>
  </dd>
  <dt>Reported</dt>
  <dd>
    <%= link_to('http://data.parliament.uk/selectcommittees/54929', object_show_url(object: 'http://data.parliament.uk/selectcommittees/54929')) %>
  </dd>
</dl>

<h2 class='reading-width'>
  Parliamentary proceedings
</h2>
<p class='reading-width'>
  <%= link_to('http://hansard.intranet.data.parliament.uk/Lords/2022-12-21/2212217000100', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Lords/2022-12-21/2212217000100')) %>
</p>

<h2 class='reading-width'>
  Proceeding contributions
</h2>
<p class='reading-width'>
  <%= link_to('http://hansard.intranet.data.parliament.uk/Lords/2022-12-21/2212217000041', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Lords/2022-12-21/2212217000041')) %>
</p>

<h2 class='reading-width'>
  Statutory instruments
</h2>
<p class='reading-width'>
  <%= link_to('http://paperslaidpoller.parliament.uk/2015-16/2016-05-11/64828', object_show_url(object: 'http://paperslaidpoller.parliament.uk/2015-16/2016-05-11/64828')) %>
</p>

<h2 class='reading-width'>
  Transport and works act order applications
</h2>
<p class='reading-width'>
  <%= link_to('http://data.parliament.uk/twas/59276', object_show_url(object: 'http://data.parliament.uk/twas/59276')) %>
</p>

<h2 class='reading-width'>
  Written questions
</h2>
<dl class='reading-width'>
  <dt>Answered</dt>
  <dd>
    <%= link_to('http://hansard.intranet.data.parliament.uk/Lords/2012-12-10/1212106000156', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Lords/2012-12-10/1212106000156')) %>
  </dd>
  <dt>Answered, was holding</dt>
  <dd>
    <%= link_to('http://data.parliament.uk/writtenparliamentaryquestion/commons/2015-16/28407', object_show_url(object: 'http://data.parliament.uk/writtenparliamentaryquestion/commons/2015-16/28407')) %>
  </dd>
  <dt>Corrected</dt>
  <dd>
    <%= link_to('http://data.parliament.uk/pimsdata/Hansard/PARLIAMENTARY_QUESTION_1395367', object_show_url(object: 'http://data.parliament.uk/pimsdata/Hansard/PARLIAMENTARY_QUESTION_1395367')) %>
  </dd>
  <dt>Holding</dt>
  <dd>
    <%= link_to('http://data.parliament.uk/writtenparliamentaryquestion/commons/2021-22/78384', object_show_url(object: 'http://data.parliament.uk/writtenparliamentaryquestion/commons/2021-22/78384')) %>
  </dd>
  <dt>Tabled</dt>
  <dd>
    <%= link_to('http://tabledpq.indexing.parliament.uk/commons/2015-16/21659', object_show_url(object: 'http://tabledpq.indexing.parliament.uk/commons/2015-16/21659')) %>
  </dd>
  <dt>Withdrawn</dt>
  <dd>
    <%= link_to('http://tabledpq.indexing.parliament.uk/commons/2022-23/11562', object_show_url(object: 'http://tabledpq.indexing.parliament.uk/commons/2022-23/11562')) %>
  </dd>
</dl>

<h2 class='reading-width'>
  Written statements
</h2>
<p class='reading-width'>
  <%= link_to('http://hansard.intranet.data.parliament.uk/Commons/2012-12-18/12121863000016', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2012-12-18/12121863000016')) %>
</p>