<% if Rails.env.development? %>
  <div class="debug-panel" aria-hidden="true">
    <%#= render 'content_type_objects/fragments/data', data: object.content_type_object_data, title: 'SOLR Data' %>
    <%#= render 'content_type_objects/fragments/data', data: @ses_data, title: 'SES Data' %>
  </div>
<% end %>

<%= render 'content_type_objects/preliminary_sentences/deposited_paper', object: object %>
<h1 class="reading-width">
  <hr/>
  <%= format_object_title(object.object_title, @ses_data) %>
</h1>

<% unless object.abstract_text.blank? %>
  <div class="reading-width">
    <%= raw format_html(object.abstract_text[:value], false) %>
  </div>
<% end %>

<% if object.deposited_file.blank? %>
  <section class="reading-width">
    <p>
      Available in hard copy only. For information on access, please
      see <%= link_to 'https://www.parliament.uk/about/how/publications/deposited/', 'https://www.parliament.uk/about/how/publications/deposited/' %>
    </p>
  </section>
<% else %>
  <section class="reading-width">
    <dl class="reading-width">
      <dt>Available files</dt>
      <% object.deposited_file.each do |uri| %>
        <dd>
          <%= link_to(uri, uri.to_s) %>
        </dd>
      <% end %>
    </dl>
  </section>
<% end %>

<section class="reading-width">
  <hr/>
  <h2>Secondary information</h2>
  <dl>
    <%= render 'content_type_objects/fragments/type', type: object.type %>
    <%= render 'content_type_objects/fragments/reference', reference: object.reference %>
    <%= render 'content_type_objects/fragments/date', title: 'Originated on', date: object.date_originated %>
    <%= render 'content_type_objects/fragments/corporate_author', author_label: 'Author', author: object.authors %>
    <%= render 'content_type_objects/fragments/paper_type', paper_type: object.paper_type %>
    <%= render 'content_type_objects/fragments/related_items', related_item_ids: object.related_item_ids %>
    <%= render 'content_type_objects/fragments/notes', notes: object.notes %>
    <%= render 'content_type_objects/fragments/pills', pills_heading: 'Subjects', pills: object.subjects %>
    <%= render 'content_type_objects/fragments/legislation', legislation: object.legislation %>
    <%= render 'content_type_objects/fragments/library_location', commons: object.commons_library_location, lords: object.lords_library_location %>
    <%= render 'content_type_objects/fragments/contains_statistics', contains_statistics: object.contains_statistics %>
  </dl>
</section>


