<% if Rails.env.development? %>
  <%#= render 'content_type_objects/fragments/data', data: object.content_type_object_data, title: 'SOLR Data' %>
  <%#= render 'content_type_objects/fragments/data', data: @ses_data, title: 'SES Data' %>
<% end %>

<% content_for(:before_title) do %>
  <%= link_to('UK Parliament', root_path) %> / <%= link_to('Open data', root_path) %><br/>
  <div id="top"></div>
<% end %>

<% content_for(:title) do %>
  <%= format_object_title(@page_title, @ses_data) %>
<% end %>

<section id="prelim">
  <%= render 'content_type_objects/preliminary_sentences/european_material', object: object %>
</section>

<section id="about" class="content-section grey">
  <%= render 'content_type_objects/fragments/type', type: object.type %>
  <%= render 'content_type_objects/fragments/reference', reference: object.reference %>
  <%= render 'content_type_objects/fragments/rapporteur', rapporteur: object.rapporteur %>
  <%= render 'content_type_objects/fragments/corporate_author', label: 'Author', author: object.corporate_author %>
  <%= render 'content_type_objects/fragments/eu_parliament_committee', eu_parliament_committee: object.eu_parliament_committee %>
  <%= render 'content_type_objects/fragments/related_items', related_item_ids: object.related_item_ids %>
  <%= render 'content_type_objects/fragments/ec_documents', ec_documents: object.ec_documents %>
  <%= render 'content_type_objects/fragments/pills', pills_heading: 'Subjects', pills: object.subjects %>
  <%= render 'content_type_objects/fragments/legislation', legislation: object.legislation %>
  <%= render 'content_type_objects/fragments/notes', notes: object.notes %>
  <%= render 'content_type_objects/fragments/library_location', commons: object.commons_library_location, lords: object.lords_library_location %>
  <%= render 'content_type_objects/fragments/contains_statistics', contains_statistics: object.contains_statistics %>
  <%= render 'content_type_objects/fragments/publisher', publisher: object.publisher %>
</section>

<%= render '/content_type_objects/fragments/about_this_result', object: object %>
<%= render '/content_type_objects/fragments/back_to_top_button' %>