<% if Rails.env.development? %>
  <%#= render 'content_type_objects/fragments/data', data: object.content_type_object_data, title: 'SOLR Data' %>
  <%#= render 'content_type_objects/fragments/data', data: @ses_data, title: 'SES Data' %>
<% end %>

<% content_for(:before_title) do %>
  <%= link_to('UK Parliament', root_path) %> / <%= link_to('Open data', root_path) %><br/>
  <div id="top"></div>
<% end %>

  <% content_for(:title) do %>
    <%= format_object_title(object.object_title, @ses_data) %>
  <% end %>

<section id="prelim">
  <%= render 'content_type_objects/preliminary_sentences/observations_on_petitions', object: object %>
</section>

<% unless object.content.blank? %>
  <section id="main-content" class="content-section white-padded">
    <div class="content-text">
      <%= raw format_html(object.petition_text[:value], false) %>
    </div>
  </section>
<% end %>

<section id="about" class="content-section grey">
  <%= render 'content_type_objects/fragments/type', type: object.subtype %>
  <%= render 'content_type_objects/fragments/reference', reference: object.reference %>
  <%= render 'content_type_objects/fragments/session', session: object.parliamentary_session %>
  <%= render 'content_type_objects/fragments/procedure', procedure: object.procedure %>
  <%= render 'content_type_objects/fragments/related_items', related_item_ids: object.related_item_ids %>
  <%= render 'content_type_objects/fragments/ec_documents', ec_documents: object.ec_documents %>
  <%= render 'content_type_objects/fragments/notes', notes: object.notes %>
  <%= render 'content_type_objects/fragments/pills', pills_heading: 'Subjects', pills: object.subjects %>
  <%= render 'content_type_objects/fragments/legislation', legislation: object.legislation %>
  <%= render 'content_type_objects/fragments/library_location', commons: object.commons_library_location, lords: object.lords_library_location %>
  <%= render 'content_type_objects/fragments/contains_statistics', contains_statistics: object.contains_statistics %>
  <% if object.has_link? %>
    <div class="about-item">
      <h3 class="content-heading" id="link">Link</h3>
      <%= link_to "View these #{object_display_name(object.subtype)} on #{ URI.parse(object.display_link[:value]).host}", object.display_link[:value] %>
    </div>
  <% end %>
</section>

<%= render '/content_type_objects/fragments/about_this_result', object: object %>
<%= render '/content_type_objects/fragments/back_to_top_button' %>