<% if Rails.env.development? %>
  <div class="debug-panel" aria-hidden="true">
    <%#= render 'content_type_objects/fragments/data', data: object.content_type_object_data, title: 'SOLR Data' %>
    <%#= render 'content_type_objects/fragments/data', data: @ses_data, title: 'SES Data' %>
  </div>
<% end %>

<%= render 'content_type_objects/preliminary_sentences/oral_answer', object: object %>
<h1 class="reading-width">
  <hr/>
  <%= format_object_title(object.object_title, @ses_data) %>
</h1>

<% unless object.answer_text.blank? %>
  <dl class="reading-width">
    <%= render 'content_type_objects/fragments/answer', object: object %>
  </dl>
<% end %>

<% if object.has_question? %>
  <section class="reading-width">
    <%= render 'content_type_objects/fragments/oral_answer_question', object: object, question: @associated_object_data[object.question_id] %>
    <dl>
      <%= render 'content_type_objects/fragments/question', object: @associated_object_data[object.question_id] %>
    </dl>
  </section>
<% end %>

<section class="reading-width">
  <hr/>
  <h2>Secondary information</h2>
  <dl>
    <%= render 'content_type_objects/fragments/type', type: object.type %>
    <%= render 'content_type_objects/fragments/reference', reference: object.reference %>
    <%= render 'content_type_objects/fragments/session', session: object.parliamentary_session %>
    <%= render 'content_type_objects/fragments/procedure', procedure: object.procedure %>
    <%= render 'content_type_objects/fragments/place', place: object.place %>
    <%= render 'content_type_objects/fragments/related_items', related_item_ids: object.related_item_ids %>
    <%= render 'content_type_objects/fragments/notes', notes: object.notes %>
    <%= render 'content_type_objects/fragments/pills', pills_heading: 'Subjects', pills: object.subjects %>
    <%= render 'content_type_objects/fragments/legislation', legislation: object.legislation %>
    <%= render 'content_type_objects/fragments/contains_statistics', contains_statistics: object.contains_statistics %>
    <%= render 'content_type_objects/fragments/link', object: object %>
  </dl>
</section>


