<% if Rails.env.development? %>
  <div class="debug-panel" aria-hidden="true">
    <%#= render 'content_type_objects/fragments/data', data: object.content_type_object_data, title: 'SOLR Data' %>
    <%#= render 'content_type_objects/fragments/data', data: @ses_data, title: 'SES Data' %>
  </div>
<% end %>

<h1 class="reading-width">
  <%= format_object_title(object.object_title, @ses_data) %>
</h1>

<%= render 'content_type_objects/preliminary_sentences/paper_ordered_to_be_printed', object: object %>

<% unless object.abstract_text.blank? %>
  <p class="reading-width">
    <%= object.abstract_text[:value] %>
  </p>
<% end %>

<section class="reading-width">
  <dl>
    <%= render 'content_type_objects/fragments/type', type: object.type %>
    <%= render 'content_type_objects/fragments/reference', reference: object.reference %>
    <%= render 'content_type_objects/fragments/session', session: object.parliamentary_session %>
    <%= render 'content_type_objects/fragments/corporate_author', author_label: 'Author', author: object.corporate_author %>
    <%= render 'content_type_objects/fragments/paper_type', paper_type: object.paper_type %>
    <%= render 'content_type_objects/fragments/related_items', related_item_ids: object.related_item_ids %>
    <%= render 'content_type_objects/fragments/notes', notes: object.notes %>
    <%= render 'content_type_objects/fragments/pills', pills_heading: 'Subjects', pills: object.subjects %>
    <%= render 'content_type_objects/fragments/legislation', legislation: object.legislation %>
    <%= render 'content_type_objects/fragments/library_location', commons: object.commons_library_location, lords: object.lords_library_location %>
    <%= render 'content_type_objects/fragments/contains_statistics', contains_statistics: object.contains_statistics %>
    <%= render 'content_type_objects/fragments/link', object: object %>
  </dl>
</section>

<%= render '/content_type_objects/fragments/about_this_result', object: object %>
