<section hidden data-controller="claw" data-action="keydown@document->claw#handleKeyDown" id="about-this-result">
  <h3 class="content-heading">Librarians' tools</h3>
  <div class="claw-grid-container">
    <% unless object.date.blank? %>
      <b class="grid-item" id="about-timestamp">Timestamp</b>
      <span class="grid-item"><%= object.timestamp[:value] %></span>
    <% end %>

    <% unless object.object_uri.blank? %>
      <b class="grid-item" id="about-uri">URI</b>
      <div class="grid-item"><%= object.object_uri[:value] %>
        <div data-controller="clipboard" class="mini-button-container">
          <div hidden data-clipboard-target="source" data-clipboard-text="<%= object.object_uri[:value] %>"></div>
          <button data-action="clipboard#copy" title="Copy text to clipboard" class="page-button">
            Copy URI to clipboard
          </button>
        </div>
      </div>
    <% end %>

    <% unless object.indexing_link.blank? %>
      <b class="grid-item" id="about-uri">In Indexing</b>
      <span class="grid-item"><%= link_to object.indexing_link, object.indexing_link %></span>
    <% end %>

    <% unless object.solr_deep_link.blank? %>
      <b class="grid-item" id="about-uri">In Solr</b>
      <span class="grid-item"><%= link_to object.solr_deep_link, object.solr_deep_link %></span>
    <% end %>

    <% unless object.internal_location_uri.blank? %>
      <b class="grid-item" id="about-internal-uri">Internal location</b>
      <span class="grid-item"><%= link_to object.internal_location_uri[:value], object.internal_location_uri[:value] %></span>
    <% end %>
  </div>
</section>
