<% unless contributions.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="contributions">Contributions</h3>
    <% contributions[:items].first(2).each do |contribution| %>
      <p>
        <% if contribution.member %>
          <%= link_to(formatted_name(contribution.member, contributions[:ses_lookup], false), search_path(filter: contribution.member)) %>
          <br/>
        <% end %>
        <% if contribution.contribution_text %>
          <%= raw(contribution.contribution_text[:value]) %>
        <% end %>
        <% if contribution.reference %>
          <%= object_show_link(contribution.reference.first[:value], contribution.object_uri) %>
          <br/>
        <% end %>
      </p>
    <% end %>
    <br/>

    <% if contributions[:items].size > 2 %>
      <details>
        <summary>
          Show all contributions (<%= contributions[:items].size %>)
        </summary>
        <% contributions[:items].drop(2).each do |contribution| %>
          <p>
            <% if contribution.member %>
              <%= link_to(formatted_name(contribution.member, contributions[:ses_lookup], false), search_path(filter: contribution.member)) %>
              <br/>
            <% end %>
            <% if contribution.contribution_text %>
              <%= raw(contribution.contribution_text[:value]) %>
            <% end %>
            <% if contribution.reference %>
              <%= object_show_link(contribution.reference.first[:value], contribution.object_uri) %>
              <br/>
            <% end %>
          </p>
        <% end %>
      </details>
    <% end %>
  </div>
<% end %>