<% amendments.each_with_index do |amendment, index| %>

  <div class="content-prelim-box">
    <div class="content-prelim-inner">
      <div class="content-prelim-text" id="prelim-text">
        The Early day motion has received
        <% if index.zero? %>
          an amendment.
        <% else %>
          a <%= ordinal_text(index) %> amendment.
        <% end %>
        <% if amendment[:primary_sponsor].blank? %>
          <% unless amendment[:date_tabled].blank? %>
            Tabled on <%= format_date(amendment[:date_tabled]) %>.
          <% end %>
        <% else %>
          Sponsored by <%= search_link(amendment[:primary_sponsor]) %>
          (primary, <%= search_link(amendment[:primary_sponsor_party]) %>)
          <% unless amendment[:date_tabled].blank? %>
            and tabled on <%= format_date(amendment[:date_tabled]) %>.
          <% end %>
        <% end %>
        <% unless amendment[:number_of_signatures].blank? %>
          It has been signed by <%= amendment[:number_of_signatures][:value] %> members total.
        <% end %>
      </div>
    </div>
  </div>

  <div class="content-text">
    <div class="amendment-title">
      <strong>Amendment <%= amendment[:index] + 1 %> - <%= title %></strong>
      <span class="amendment-title-ref">(<%= amendment[:reference][:value] %>)</span>
    </div>

    <div class="amendment-text"><%= amendment[:text][:value] %></div>
  </div>

<% end %>