<% unless regarding_objects.blank? %>
  <div class="about-item">
    <h3 class="content-heading" id="regarding-deposited-document">Regarding deposited document</h3>
    <div class="flex-list">
      <% regarding_objects[:items].each do |regarding_object| %>
        <div>
          <% unless regarding_object.content_object_data['uri'].blank? %>
            <%= object_show_link(regarding_object.object_title, regarding_object.object_uri) %><br/>
          <% end %>
          <% if regarding_object.date %>
            <%= format_date(regarding_object.date) %><br/>
          <% end %>
          <% if regarding_object.dual_type? %>
            <%= regarding_objects[:ses_lookup][regarding_object.subtype[:value]] %>
            and <%= regarding_objects[:ses_lookup][regarding_object.type[:value]] %><br/>
          <% else %>
            <% if regarding_object.subtype %>
              <%= regarding_objects[:ses_lookup][regarding_object.subtype[:value]] %><br/>
            <% elsif regarding_object.type %>
              <%= regarding_objects[:ses_lookup][regarding_object.type[:value]] %><br/>
            <% end %>
          <% end %>
          <% unless regarding_object.legislature.blank? %>
            <% regarding_object.legislature.each do |house| %>
              <%= regarding_objects[:ses_lookup][house[:value]] %><br/>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>