<div>
  <% unless related_item.object_uri.blank? %>
    <%= object_show_link(related_item.object_title, related_item.object_uri) %><br/>
  <% end %>
  <% if related_item.date %>
    <%= format_date(related_item.date) %><br/>
  <% end %>
  <% if related_item.dual_type? %>
    <%= object_display_name(related_item.subtype, singular: false) %>
    and <%= object_display_name(related_item.type, singular: false) %><br/>
  <% else %>
    <%= render 'search/fragments/name_list', items: related_item.types, singular: false, terminator: '' %>
    <br/>
  <% end %>
  <% unless related_item.legislature.blank? %>
    <% related_item.legislature.each do |house| %>
      <%= @ses_data[house[:value]] %><br/>
    <% end %>
  <% end %>
</div>