- unless items.blank?
  - if items.size == 1
    %span= object_display_name(items.last, singular: singular)
    %span>= terminator
  - elsif items.size == 2
    %span= object_display_name(items.first, singular: singular)
    %span>= "; "
    %span= object_display_name(items.last, singular: singular)
    %span>= terminator
  - elsif items.size > 2
    %span= object_display_name(items.first, singular: singular)
    %span>= "; "
    - items[1...-2].each do |item|
      %span>= object_display_name(item)
      %span>= "; "
    %span= object_display_name(items.last(2).first, singular: singular)
    %span>= "; "
    %span= object_display_name(items.last, singular: singular)
    %span>= terminator
