<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text">
      A <%= object_link("#{object.object_name.titleize}", '/') %>
      was asked by <%= object_link("#{object.tabling_member}", '/') %>
      on <strong><%= object.published_on&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>,
      in the <%= object_link("#{object.published_by}", '/') %>.
      It was due for answer
      on <strong><%= object.date_of_answer&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>
      (named day).
      A holding answer was provided by <%= object_link("#{object.answering_member}", '/') %>
      on <strong><%= object.date_of_answer&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>
      on behalf of <%= object_link("#{object.department}", '/') %>.
      A replacement answer was provided by <%= object_link("#{object.answering_member}", '/') %>
      on <strong><%= object.date_of_answer&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>
      on behalf of <%= object_link("#{object.department}", '/') %>.
    </div>
  </div>
</div>

