<div class="content-prelim-box">
  <div class="content-prelim-inner">
    <div class="content-prelim-text">
      A <%= object_link("#{object.object_name.titleize}", '/') %>
      was tabled by <%= object_link("#{object.tabling_member}", '/') %>
      on <strong><%= object.published_on&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>,
      in the <%= object_link("#{object.published_by}", '/') %> for the
      <%= object_link("#{object.department}", '/') %>.
      It is due for answer
      on <strong><%= object.date_of_answer&.strftime(ApplicationHelper::DATE_DISPLAY_FORMAT) %></strong>
      (named day).
    </div>
  </div>
</div>

