.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      - unless object.date_reported.blank?
        %span= " dated "
        %span>= format_date(object.date_reported)
      - if object.date_debated.blank? && object.debate_location.blank?
        %span= "."
      - else
        %span= ","
        %span= " which received a "
        - unless object.debate_location.blank?
          %span>= object.debate_location[:value]
        %span>= " debate"
        - unless object.date_debated.blank?
          %span= " on "
          %span>= format_date(object.date_debated)
        %span>= "."