.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      - unless object.date.blank?
        %span= " on "
        %span>= format_date(object.date)
      - unless object.legislature.blank?
        %span= ","
        %span= " in the "
        %span>= render 'content_type_objects/fragments/list', items: object.legislature, terminator: '', singular: false
      - unless object.lead_members.blank?
        %span= ","
        %span= " led by "
        %span>= render 'content_type_objects/fragments/list', items: object.lead_members, terminator: '', singular: false
      - unless object.department.blank?
        - if object.lead_members.blank?
          %span= " from the "
        - else
          %span= " on behalf of the "
        %span>= search_link(object.department)
      %span= "."