.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      - unless object.date_of_answer.blank?
        %span= " provided on "
        %span= format_date(object.date_of_answer)
      - unless object.legislature.blank?
        %span= " in the "
        %span>= render 'content_type_objects/fragments/list', items: object.legislature, terminator: ',', singular: false
      - unless object.answering_member.blank?
        %span= " by "
        %span= search_link(object.answering_member)
        - unless object.answering_member_party.blank?
          %span<="("
          %span>= search_link(object.answering_member_party)
          %span>=")"
      - unless object.department.blank?
        %span=", "
        %span>= search_link(object.department)
      %span= "."