%section.content-section.grey
  .about-item
    %span= "This is an answer to the "
    %span>= object_show_link(formatted_name(question.subtype_or_type, @ses_data, true, true), object.question_url)
    - unless object.date_of_question.blank?
      %span= " asked on "
      %span>= format_date(object.date_of_question)
    - unless question.asking_member.blank?
      %span= " by "
      %span>= search_link(question.asking_member)
      - unless question.asking_member_party.blank?
        %span= " ("
        %span>= search_link(question.asking_member_party)
        %span>= ")"
    %span= "."