.content-prelim-box
  .content-prelim-inner
    .content-prelim-text#prelim-text
      %span>= object_display_name_link(object.object_name)
      %span= " tabled "
      - unless object.tabling_member.blank?
        %span= " by "
        %span>= search_link(object.tabling_member)
        - unless object.tabling_member_party.blank?
          %span= " ("
          %span>= search_link(object.tabling_member_party)
          %span= ") "
      - unless object.date_of_question.blank?
        %span= " on "
        %span>= format_date(object.date_of_question)
      %span= ", "
      - unless object.legislature.blank?
        %span= " in the "
        %span>= render 'content_type_objects/fragments/list', items: object.legislature, terminator: '', singular: false
      - unless object.department.blank?
        %span= " for the "
        %span>= search_link(object.department)
      %span= "."
      - unless object.date_for_answer.blank?
        %span= " It is due for an answer on "
        %span>= format_date(object.date_for_answer)
        - if object.named_day?
          %span= " ("
          %span>= object.question_type[:value]&.downcase
          %span>= ")"
        %span= "."