<section hidden data-controller="claw" data-action="keydown@document->claw#handleKeyDown" id="about-this-result" class="row my-4 py-3 border border-dark claw">
  <div class="col">
    <h3>Librarians' tools</h3>
    <dl>
      <% unless object.date.blank? %>
        <dt>Timestamp</dt>
        <dd><%= object.timestamp[:value] %></dd>
      <% end %>

      <% unless object.object_uri.blank? %>
        <dt>URI</dt>
        <dd>
          <%= object.object_uri[:value] %>
          <span data-controller="clipboard" class="font-size-milli">
            <span hidden data-clipboard-target="source" data-clipboard-text="<%= object.object_uri[:value] %>"></span>
              <button data-action="click->clipboard#copy" title="Copy text to clipboard" class="btn btn-secondary">
                Copy URI to clipboard
              </button>
          </span>
        </dd>
      <% end %>

      <% unless object.indexing_link.blank? %>
        <dt>In Indexing</dt>
        <dd><%= link_to object.indexing_link, object.indexing_link, target: :_blank %></dd>
      <% end %>

      <% unless object.solr_deep_link.blank? %>
        <dt>In Solr</dt>
        <dd><%= link_to object.solr_deep_link, object.solr_deep_link, target: :_blank %></dd>
      <% end %>

      <% unless object.internal_location_uri.blank? %>
        <dt>Internal location</dt>
        <dd><%= link_to object.internal_location_uri[:value], object.internal_location_uri[:value], target: :_blank %></dd>
      <% end %>
    </dl>
  </div>
</section>
