<div hidden class="results-claw claw">
  <div class="grid-container">
    <% unless object.timestamp.blank? %>
      <span class="claw-timestamp"><%= object.timestamp[:value] %></span>
    <% end %>
    <% unless object.object_uri.blank? %>
      <span class="claw-uri"><%= object.object_uri[:value] %></span>
    <% end %>
    <div class="mini-button-container" data-controller="clipboard">
      <% unless object.object_uri.blank? %>
        <button data-action="clipboard#copy" title="Copy" class="page-button">
          <span hidden data-clipboard-target="source" data-clipboard-text="<%= object.object_uri.dig(:value) %>">
          </span>
          Copy
        </button>
      <% end %>

      <% unless object.indexing_link.blank? %>
        <%= link_to 'Indexing', object.indexing_link, target: :_blank, class: 'page-button' %>
      <% end %>

      <% unless object.solr_deep_link.blank? %>
        <%= link_to 'Solr', object.solr_deep_link, target: :_blank, class: 'page-button' %>
      <% end %>

      <% unless object.combined_location_uri.blank? %>
        <%= link_to 'Source', object.combined_location_uri[:value], target: :_blank, class: 'page-button' %>
      <% end %>
    </div>
  </div>
</div>
