<a href="<%= object_show_url(object: object.object_uri[:value]) %>" class="card">
  <div class="card-inner">
    <div class="content">
      <div class="primary-info">
        <%= format_object_title(object.object_title, @ses_data) %>
      </div>
      <div class="secondary-info">
        <%= render 'search/results/item_details/member', member: object.member, member_party: object.member_parties %>
        <%= render 'search/results/item_details/departments', departments: object.departments, label: 'Department' %>
        <%= render 'search/results/item_details/corporate_author', corporate_author: object.corporate_author, label: 'Promoter / Parliamentary agent' %>
        <%= render 'search/results/item_details/notes', notes: object.notes unless object.notes.blank? %>
      </div>
      <div class="tertiary-info">
        <%= render 'search/results/item_details/type', type: object.object_name %>
        <%= render 'search/results/item_details/reference', reference: object.standard_reference %>
        <%= render 'search/results/item_details/legislature', legislature: object.legislature %>
      </div>
      <div class="text text-secondary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue
        cursus feugiat. Sed scelerisque, ipsum quis malesuada sodales, nisi
        purus finibus mi, vel accumsan tortor sem sed mauris.
      </div>
    </div>

    <div class="info">
      <div class="info-inner">
        <div class="indicators-left">
          <!--          <div class="indicator indicator-label"><%#=  %></div>-->
          <%= render 'search/results/item_details/date', date: object.standard_date %>
        </div>
        <div class="indicators-right">
          <div class="indicator">
            <span class="icon fas fa-user" aria-hidden="true"></span>
            Icon indicator
          </div>
        </div>
      </div>
    </div>
  </div>
</a>