<section class="result-item">
  <div class="row title">
    <%= link_to(object.object_title, object_show_url(object: object.object_uri[:value])) %>
  </div>
  <div class="row content">
    <%= render 'search/results/item_details/motion_text', motion_text: object.motion_text %>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left member">
        <%= render 'search/results/item_details/primary_sponsor', primary_sponsor: object.primary_sponsor %>
      </div>
      <div class="centre other-member">

      </div>
      <div class="right department">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left type">
        <%= render 'search/results/item_details/type', type: object.object_name %>
      </div>
      <div class="centre status">

      </div>
      <div class="right corporate-author">

      </div>
    </div>
  </div>
  <div hidden class="row detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/primary_sponsor_party', primary_sponsor_party: object.primary_sponsor_party %>
    <%= render 'search/results/item_details/list', items: object.subjects, seperator: ';', terminator: '', singular: false %>
    <%= render 'search/results/item_details/legislation', legislation: object.legislation %>
    <%= render 'search/results/item_details/notes', notes: object.notes %>
    <%= render 'search/results/item_details/date_tabled', date_tabled: object.date_tabled %>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left date">
        <%= render 'search/results/item_details/date', date: object.date %>
      </div>
      <div class="centre reference">
        <%= render 'search/results/item_details/reference', reference: object.reference %>
      </div>
      <div class="right house">
        <%= render 'search/results/item_details/legislature', legislature: object.legislature %>
      </div>
    </div>
  </div>
</section>
<hr/>