<div class="result-item py-2">
  <div class="row title">
    <div class="col">
      <%= link_to(format_object_title(object.object_title, @ses_data), object_show_url(object: object.object_uri[:value])) %>
    </div>
  </div>

  <div <%= 'hidden' unless params[:show_detailed] == "true" %>>
    <div class="row">
      <div class="col">
        <%= render 'search/results/item_details/description', description: object.motion_text, full_text: true %>
      </div>
    </div>
  </div>
  <div <%= 'hidden' if params[:show_detailed] == "true" %>>
    <div class="row">
      <div class="col">
        <%= render 'search/results/item_details/description', description: object.motion_text, full_text: false %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col primary-person">
      <%= render 'search/results/item_details/primary_sponsor', primary_sponsor: object.primary_sponsor, primary_sponsor_party: object.primary_sponsor_party %>
    </div>
    <div class="col secondary-person"></div>
    <div class="col primary-group"></div>
  </div>

  <div class="row">
    <div class="col type">
      <%= render 'search/results/item_details/subtype_or_type', subtype: object.subtype, type: object.type %>
    </div>
    <div class="col status"></div>
    <div class="col secondary-group"></div>
  </div>

  <div <%= 'hidden' unless params[:show_detailed] == "true" %>>

    <% unless object.amendments.blank? %>
      <% object.amendments.each do |amendment| %>
        <div class="row">
          <div class="col amending-member">
            <%= render 'search/results/item_details/amended_by', primary_sponsor: amendment.dig(:primary_sponsor) unless amendment.dig(:primary_sponsor, :value).blank? %>
          </div>
          <div class="col amendment-date">
            <%= render 'search/results/item_details/amended_on', date_tabled: amendment.dig(:date_tabled) unless amendment.dig(:date_tabled, :value).blank? %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= render 'search/results/item_details/legislation', legislation: object.legislation unless object.legislation.blank? %>
  </div>

  <%= render 'search/results/item_details/notes', notes: object.notes unless object.notes.blank? %>

  <div <%= 'hidden' unless params[:show_detailed] == "true" %>>
    <%= render 'search/results/item_details/subjects', subjects: object.subjects unless object.subjects.blank? %>
  </div>

  <div class="row">
    <div class="col significant-date">
      <%= render 'search/results/item_details/date', date: object.standard_date %>
    </div>
    <div class="col reference">
      <%= render 'search/results/item_details/reference', reference: object.standard_reference %>
    </div>
    <div class="col house">
      <%= render 'search/results/item_details/legislature', legislature: object.legislature %>
    </div>
  </div>
</div>