<section class="result-item">
  <div class="row" id="title">
    <%= link_to(object.object_title, object_show_url(object: object.object_uri[:value])) %>
  </div>
  <div class="row" id="content">
    <%= render 'search/fragments/eu_material_subtype_and_category', subtype: object.subtype, category: object.category %>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left" id="primary-person">

      </div>
      <div class="centre" id="secondary-person">

      </div>
      <div class="right" id="primary-group">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left" id="type">
        <%= render 'search/results/item_details/type', type: object.object_name %>
      </div>
      <div class="centre" id="status">

      </div>
      <div class="right" id="secondary-group">
        <%= render 'search/results/item_details/corporate_author', corporate_author: object.corporate_author %>
      </div>
    </div>
  </div>
  <div <%= 'hidden' unless params[:show_detailed] == "true" %> class="row" id="detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/rapporteur', rapporteur: object.rapporteur %>
    <%= render 'search/results/item_details/legislation', legislation: object.legislation %>
    <%= render 'search/results/item_details/list', items: object.subjects, seperator: ';', terminator: '', singular: false %>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left" id="significant-date">
        <%= render 'search/results/item_details/published_date', published_date: object.published_date %>
      </div>
      <div class="centre" id="reference">
        <%= render 'search/results/item_details/reference', reference: object.standard_reference %>
      </div>
      <div class="right" id="house">

      </div>
    </div>
  </div>
</section>
<hr/>