<section class="result-item">
  <div class="row title">
    <%= link_to(object.object_title, object_show_url(object: object.object_uri[:value])) %>
  </div>
  <div class="row content">

  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left member">
        <%= render 'search/results/item_details/corresponding_minister', corresponding_minister: object.corresponding_minister %>
      </div>
      <div class="centre other-member">

      </div>
      <div class="right department">
        <%= render 'search/results/item_details/departments', departments: object.departments %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left type">
        <%= render 'search/results/item_details/type', type: object.object_name %>
      </div>
      <div class="centre status">

      </div>
      <div class="right corporate-author">

      </div>
    </div>
  </div>
  <div hidden class="row detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/list', items: object.subjects, seperator: ';', terminator: '', singular: false %>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left date">
        <%= render 'search/results/item_details/deposited_date', deposited_date: object.date_received %>
      </div>
      <div class="centre reference">
        <%= render 'search/results/item_details/reference', reference: object.reference %>
      </div>
      <div class="right house">

      </div>
    </div>
  </div>
</section>
<hr/>