<section class="result-item">
  <div class="row title">
    <%= link_to(object.object_title, object_show_url(object: object.object_uri[:value])) %>
  </div>
  <div class="row content">
    <%= render 'search/fragments/eu_material_subtype_and_category', subtype: object.subtype, category: object.category %>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left member">

      </div>
      <div class="centre other-member">

      </div>
      <div class="right department">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left type">
        <%= render 'search/results/item_details/type', type: object.object_name %>
      </div>
      <div class="centre status">

      </div>
      <div class="right corporate-author">
        <%= render 'search/results/item_details/corporate_author', corporate_author: object.corporate_author %>
      </div>
    </div>
  </div>
  <div hidden class="row detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/rapporteur', rapporteur: object.rapporteur %>
    <%= render 'search/results/item_details/legislation', legislation: object.legislation %>
    <%= render 'search/results/item_details/list', items: object.subjects, seperator: ';', terminator: '', singular: false %>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left date">
        <%= render 'search/results/item_details/published_date', published_date: object.published_date %>
      </div>
      <div class="centre reference">
        <%= render 'search/results/item_details/reference', reference: object.reference %>
      </div>
      <div class="right house">

      </div>
    </div>
  </div>
</section>
<hr/>