<div class="result-item">
  <p><%= link_to(object.object_title, object_show_url(object: object.object_uri[:value])) %></p>
  <%= render 'search/results/item_details/deposited_date', deposited_date: object.deposited_date %>
  <%= render 'search/results/item_details/type', type: object.object_name %>
  <%= render 'search/results/item_details/corresponding_minister', type: object.corresponding_minister %>
  <%= render 'search/fragments/list', items: object.departments, terminator: "", singular: false %>
  <%= render 'search/results/item_details/reference', reference: object.reference %>
  <div hidden class="detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/pills', pills: object.subjects, pills_heading: 'Subjects' %>
  </div>
</div>