<div class="result-item pb-3">
  <div class="row py-1 title">
    <div class="col">
      <%= link_to(format_object_title(object.object_title, @ses_data), object_show_url(object: object.object_uri[:value])) %>
    </div>
  </div>

  <div class="row py-1">
    <div class="col primary-person"></div>
    <div class="col secondary-person"></div>
    <div class="col primary-group">
      <%= render 'search/results/item_details/departments', departments: object.departments, label: 'Department' %>
    </div>
  </div>

  <div class="row py-1">
    <div class="col type">
      <%= render 'search/results/item_details/type', type: object.object_name %>
    </div>
    <div class="col status"></div>
    <div class="col secondary-group"></div>
  </div>

  <%= render 'search/results/item_details/notes', notes: object.notes unless object.notes.blank? %>

  <div <%= 'hidden' unless params[:show_detailed] == "true" %>>
    <%= render 'search/results/item_details/subjects', subjects: object.subjects unless object.subjects.blank? %>
  </div>

  <div class="row py-1">
    <div class="col significant-date">
      <%= render 'search/results/item_details/date', date: object.standard_date %>
    </div>
    <div class="col reference">
      <%= render 'search/results/item_details/reference', reference: object.standard_reference %>
    </div>
    <div class="col house">
      <%= render 'search/results/item_details/legislature', legislature: object.legislature %>
    </div>
  </div>
</div>