<section class="result-item">
  <div class="row title">
    <%= link_to(object.object_title, object_show_url(object: object.object_uri[:value])) %>
  </div>
  <div class="row content">
    <%= render 'search/results/item_details/petition_text', petition_text: object.petition_text %>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left member">
        <%= render 'search/results/item_details/lead_member', lead_member: object.lead_member, lead_member_party: nil %>
      </div>
      <div class="centre other-member">

      </div>
      <div class="right department">
        <%= render 'search/results/item_details/departments', departments: object.departments %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left type">
        <%= render 'search/results/item_details/type', type: object.object_name %>
      </div>
      <div class="centre status">

      </div>
      <div class="right corporate-author">

      </div>
    </div>
  </div>
  <div hidden class="row detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/legislation', legislation: object.legislation %>
    <%= render 'search/results/item_details/notes', notes: object.notes %>
    <%= render 'search/results/item_details/list', items: object.subjects, seperator: ';', terminator: '', singular: false %>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left date">
        <%= render 'search/results/item_details/date', date: object.standard_date %>
      </div>
      <div class="centre reference">
        <%= render 'search/results/item_details/reference', reference: object.standard_reference %>
      </div>
      <div class="right house">
        <%= render 'search/results/item_details/legislature', legislature: object.legislature %>
      </div>
    </div>
  </div>
</section>
<hr/>