<div class="result-item">
  <p><%= link_to(object.object_title, object_show_url(object: object.object_uri[:value])) %></p>
  <%= render 'search/results/item_details/petition_text', petition_text: object.petition_text %>
  <%= render 'search/results/item_details/date', date: object.date %>
  <%= render 'search/results/item_details/type', type: object.object_name %>
  <%= render 'search/results/item_details/lead_member', lead_member: object.lead_member %>
  <%= render 'search/fragments/list', items: object.departments, terminator: "", singular: false %>
  <%= render 'search/fragments/list', items: object.legislature, terminator: "", singular: false %>
  <%= render 'search/results/item_details/reference', reference: object.reference %>
  <div hidden class="detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/legislation', legislation: object.legislation %>
    <%= render 'search/results/item_details/notes', notes: object.notes %>
    <%= render 'search/results/item_details/pills', pills: object.subjects, pills_heading: 'Subjects' %>
  </div>
</div>