<section class="result-item">
  <div class="row" id="title">
    <%= link_to(object.object_title, object_show_url(object: object.object_uri[:value])) %>
  </div>
  <div class="row" id="content">
    <%= render 'search/results/item_details/answer_text', answer_text: object.answer_text %>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left" id="primary-person">
        <%= render 'search/results/item_details/answering_member', answering_member: object.answering_member %>
        <%= render 'search/results/item_details/answering_member_party', answering_member_party: object.answering_member_party %>
      </div>
      <div class="centre" id="secondary-person">
        <%= render 'search/results/item_details/asking_member', asking_member: object.asking_member %>
        <%= render 'search/results/item_details/asking_member_party', asking_member_party: object.asking_member_party %>
      </div>
      <div class="right" id="primary-group">
        <%= render 'search/results/item_details/answering_department', answering_department: object.answering_department %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left" id="type">
        <%= render 'search/results/item_details/type', type: object.object_name %>
      </div>
      <div class="centre" id="status">

      </div>
      <div class="right" id="secondary-group">

      </div>
    </div>
  </div>
  <div <%= 'hidden' unless params[:show_detailed] == "true" %> class="row" id="detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/question_text', question_text: object.question_text %>
    <%= render 'search/results/item_details/place', place: object.place %>
    <%= render 'search/results/item_details/legislation', legislation: object.legislation %>
    <%= render 'search/results/item_details/procedure', procedure: object.procedure %>
    <%= render 'search/results/item_details/notes', notes: object.notes %>
    <%= render 'search/results/item_details/list', items: object.subjects, seperator: ';', terminator: '', singular: false %>
  </div>
  <div class="row">
    <div class="three-panel">
      <div class="left" id="significant-date">
        <%= render 'search/results/item_details/date', date: object.standard_date %>
      </div>
      <div class="centre" id="reference">
        <%= render 'search/results/item_details/reference', reference: object.standard_reference %>
      </div>
      <div class="right" id="house">
        <%= render 'search/results/item_details/legislature', legislature: object.legislature %>
      </div>
    </div>
  </div>
</section>
<hr/>