<div class="result-item">
  <p><%= link_to(object.object_title, object_show_url(object: object.object_uri[:value])) %></p>
  <%= render 'search/results/item_details/date', date: object.date %>
  <%= render 'search/results/item_details/type', type: object.object_name %>
  <%= render 'search/results/item_details/corporate_author', corporate_author: object.corporate_author %>
  <%= render 'search/results/item_details/legislature', legislature: object.legislature %>
  <%= render 'search/results/item_details/reference', reference: object.reference %>
  <div hidden class="detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/legislation', legislation: object.legislation %>
    <%= render 'search/results/item_details/notes', notes: object.notes %>
    <%= render 'search/results/item_details/witnesses', witnesses: object.witnesses %>
    <%= render 'search/results/item_details/pills', pills: object.subjects, pills_heading: 'Subjects' %>
    <%= render 'search/results/item_details/library_location', commons: object.commons_library_location, lords: object.lords_library_location %>
  </div>
</div>