<div class="result-item">
  <div class="row" id="title">
    <%= link_to(format_object_title(object.object_title, @ses_data), object_show_url(object: object.object_uri[:value])) %>
  </div>

  <div <%= 'hidden' unless params[:show_detailed] == "true" %> class="row" id="content" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/description', description: object.abstract_text, full_text: true %>
  </div>
  <div <%= 'hidden' if params[:show_detailed] == "true" %> class="row" id="content" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/description', description: object.abstract_text, full_text: false %>
  </div>

  <div class="row">
    <div class="result-panel">
      <div id="primary-person">
        <%= render 'search/results/item_details/lead_members', lead_members: object.lead_members, label: 'Lead member' %>
      </div>
      <div id="secondary-person">
        <%= render 'search/results/item_details/answering_members', answering_members: object.answering_members, label: 'Answering member' %>
      </div>
      <div id="primary-group">
        <%= render 'search/results/item_details/departments', departments: object.departments, label: 'Department' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="result-panel">
      <div id="type">
        <%= render 'search/results/item_details/type', type: object.object_name %>
      </div>
      <div id="status">

      </div>
      <div id="secondary-group">
      </div>
    </div>
  </div>

  <div <%= 'hidden' unless params[:show_detailed] == "true" %> class="row" id="detailed-view" data-detailed-results-target="toggleHidden">

    <div class="row">
      <div class="result-panel">
        <div id="legislative-stage">
          <%= render 'search/results/item_details/legislative_stage', legislative_stage: object.legislative_stage %>
        </div>
        <div id="procedure">
          <%= render 'search/results/item_details/procedure', procedure: object.procedure %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="result-panel">
        <div id="specific-date-1">
        </div>
        <div id="specific-date-2">
        </div>
        <div id="specific-date-3">

        </div>
        <div id="specific-date-4">

        </div>
      </div>
    </div>

    <div class="row">
      <div id="coming-into-force">

      </div>
    </div>

    <div class="row">
      <div id="supplementary-content">

      </div>
    </div>

    <div class="row">
      <div id="corrected">

      </div>
    </div>

    <% unless object.amendments.blank? %>
      <% object.amendments.each do |amendment| %>
        <div class="row">
          <div class="result-panel">
            <div id="amending-member">
            </div>
            <div id="amendment-date">
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= render 'search/results/item_details/legislation', legislation: object.legislation unless object.legislation.blank? %>
    <%= render 'search/results/item_details/subjects', subjects: object.subjects unless object.subjects.blank? %>
    <%= render 'search/results/item_details/notes', notes: object.notes unless object.notes.blank? %>

    <% unless object.commons_library_location.blank? && object.lords_library_location.blank? %>
      <div class="row">
        <div class="result-panel">
          <div id="commons-library-location">
            <%#= render 'search/results/item_details/commons_library_location', location: object.commons_library_location unless object.commons_library_location.blank? %>
          </div>
          <div id="lords-library-location">
            <%#= render 'search/results/item_details/lords_library_location', location: object.lords_library_location unless object.lords_library_location.blank? %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <div class="row">
    <div class="result-panel">
      <div id="significant-date">
        <%= render 'search/results/item_details/date', date: object.standard_date %>
      </div>
      <div id="reference">
        <%= render 'search/results/item_details/reference', reference: object.standard_reference %>
      </div>
      <div id="place" <%= 'hidden' unless params[:show_detailed] == "true" %> data-detailed-results-target="toggleHidden">
        <%= render 'search/results/item_details/place', place: object.place %>
      </div>
      <div id="house">
        <%= render 'search/results/item_details/legislature', legislature: object.legislature %>
      </div>
    </div>
  </div>
</div>
<hr/>