<div class="result-item">
  <div class="row title">
    <%= link_to(format_object_title(object.object_title, @ses_data), object_show_url(object: object.object_uri[:value])) %>
  </div>

  <div class="row">
    <div class="result-panel">
      <div class="type">
        <%= render 'search/results/item_details/type', type: object.object_name %>
      </div>
      <div class="status"></div>
      <div class="secondary-group"></div>
    </div>
  </div>

  <div <%= 'hidden' unless params[:show_detailed] == "true" %> class="row">
    <%= render 'search/results/item_details/legislation', legislation: object.legislation unless object.legislation.blank? %>
  </div>

  <%= render 'search/results/item_details/notes', notes: object.notes unless object.notes.blank? %>

  <div <%= 'hidden' unless params[:show_detailed] == "true" %> class="row">
    <%= render 'search/results/item_details/subjects', subjects: object.subjects unless object.subjects.blank? %>
  </div>

  <div <%= 'hidden' unless params[:show_detailed] == "true" %> class="row">
    <% unless object.commons_library_location.blank? && object.lords_library_location.blank? %>
      <div class="row">
        <div class="result-panel">
          <div class="commons-library-location">
            <%= render 'search/results/item_details/commons_library_location', location: object.commons_library_location unless object.commons_library_location.blank? %>
          </div>
          <div class="lords-library-location">
            <%= render 'search/results/item_details/lords_library_location', location: object.lords_library_location unless object.lords_library_location.blank? %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="result-panel">
      <div class="significant-date">
        <%= render 'search/results/item_details/date', date: object.standard_date %>
      </div>
      <div class="reference">
        <%= render 'search/results/item_details/reference', reference: object.standard_reference %>
      </div>
      <div class="house">
        <%= render 'search/results/item_details/legislature', legislature: object.legislature %>
      </div>
    </div>
  </div>
</div>