<div class="result-item py-2">
  <div class="row title">
    <div class="col">
      <%= format_object_title(object.object_title, @ses_data) %>
    </div>
  </div>

  <div class="row">
    <div class="col type">
      <%= render 'search/results/item_details/type', type: object.object_name %>
    </div>
    <div class="col status"></div>
    <div class="col secondary-group"></div>
  </div>

  <%= render 'search/results/item_details/notes', notes: object.notes unless object.notes.blank? %>

  <div class="row">
    <div class="col significant-date">
      <%= render 'search/results/item_details/date', date: object.standard_date %>
    </div>
    <div class="col reference">
      <%= render 'search/results/item_details/reference', reference: object.standard_reference %>
    </div>
    <div class="col house">
      <%= render 'search/results/item_details/legislature', legislature: object.legislature %>
    </div>
  </div>
</div>