<li>
	<%= content_tag( 'h3', link_to( result['title_t'], object_show_url( :object => result['uri'] ) ) ) %>
	
	<%= render :partial => 'search/results/document_type', :object => result['type_ses'].first %>
	
	<%= content_tag( 'p', "Date: #{result['date_dt'].to_date.strftime( ApplicationHelper::DATE_DISPLAY_FORMAT )}" ) %>

	<% if ( result['bibliographicCitation_t'] && !result['bibliographicCitation_t'].empty? ) || ( result['identifier_s'] ) %>
		<%= content_tag( 'h4', 'Bibliographic citations' ) %>
		<ul>
			<%= render :partial => 'search/fragments/bibliographic_citation', :collection => result['bibliographicCitation_t'] %>
			<%= render :partial => 'search/fragments/bibliographic_citation', :collection => result['identifier_s'] %>
		</ul>
	<% end -%>
	
	<%= render :partial => 'search/fragments/data', :object => result %>
</li>