<div class="result-item">
  <div class="row" id="title">
    <%= format_object_title(object.object_title, @ses_data) %>
  </div>

  <div class="row">
    <div class="result-panel">
      <div id="type">
        <%= render 'search/results/item_details/type', type: object.object_name %>
      </div>
      <div id="status"></div>
      <div id="secondary-group"></div>
    </div>
  </div>

  <%= render 'search/results/item_details/notes', notes: object.notes unless object.notes.blank? %>

  <div class="row">
    <div class="result-panel">
      <div id="significant-date">
        <%= render 'search/results/item_details/date', date: object.standard_date %>
      </div>
      <div id="reference">
        <%= render 'search/results/item_details/reference', reference: object.standard_reference %>
      </div>
      <div id="house">
        <%= render 'search/results/item_details/legislature', legislature: object.legislature %>
      </div>
    </div>
  </div>
</div>