<li>
	<%= content_tag( 'h3', link_to( result['title_t'], object_show_url( :object => result['uri'] ) ) ) %>
	
	<%= render :partial => 'document_type', :object => result['type_ses'].first %>
	
	<%= content_tag( 'p', "Date: #{result['date_dt'].to_date.strftime( ApplicationHelper::DATE_DISPLAY_FORMAT )}" ) %>

	<% if ( result['bibliographicCitation_t'] && !result['bibliographicCitation_t'].empty? ) || ( result['identifier_s'] ) %>
		<%= content_tag( 'h4', 'Bibliographic citations' ) %>
		<ul>
			<%= render :partial => 'bibliographic_citation', :collection => result['bibliographicCitation_t'] %>
			<%= render :partial => 'bibliographic_citation', :collection => result['identifier_s'] %>
		</ul>
	<% end -%>

	<details class="solr-data">
		<%= content_tag( 'summary', 'SOLR data' ) %>
	    <code><%= result %></code>
	</details>
</li>