<div class="result-item">
  <div class="row title">
    <%= link_to(format_object_title(object.object_title, @ses_data), object_show_url(object: object.object_uri[:value])) %>
  </div>

  <div <%= 'hidden' unless params[:show_detailed] == "true" %> class="row content">
    <%= render 'search/results/item_details/content', content: object.question_text, full_text: true %>
  </div>
  <div <%= 'hidden' if params[:show_detailed] == "true" %> class="row content">
    <%= render 'search/results/item_details/content', content: object.question_text, full_text: false %>
  </div>

  <div class="row">
    <div class="result-panel">
      <div class="primary-person">
        <%= render 'search/results/item_details/asking_or_tabling_member', asking_member: object.asking_member, tabling_member: object.tabling_member, asking_member_party: object.asking_member_parties, tabling_member_party: object.tabling_member_parties, label: 'Asked by' %>
      </div>
      <div class="secondary-person" <%= 'hidden' unless params[:show_detailed] == "true" %>>
        <%= render 'search/results/item_details/answering_member', answering_member: object.answering_member, answering_member_party: object.answering_member_parties, label: 'Answered by' %>
      </div>
      <div class="primary-group">
        <%= render 'search/results/item_details/answering_body', answering_body: object.answering_body, label: 'Answering body' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="result-panel">
      <div class="type">
        <%= render 'search/results/item_details/type', type: object.object_name %>
      </div>
      <div class="status">
        <%= render 'search/results/item_details/state', state: object.state, label: 'Status' %>
      </div>
      <div class="secondary-group">
        <div <%= 'hidden' unless params[:show_detailed] == "true" %> class="item-details">
          <%= render 'search/results/item_details/asked_to_reply_author', asked_to_reply_author: object.asked_to_reply_author %>
        </div>
      </div>
    </div>
  </div>

  <div <%= 'hidden' unless params[:show_detailed] == "true" %> class="row">
    <div class="row">
      <div class="result-panel">
        <div class="procedure">
          <%= render 'search/results/item_details/procedure', procedure: object.procedure %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="result-panel">
        <div class="specific-date-1">
          <%= render 'search/results/item_details/date_tabled', date_tabled: object.date_tabled, label: 'Tabled on' %>
        </div>
        <div class="specific-date-2">
          <%= render 'search/results/item_details/date_for_answer', date_for_answer: object.date_for_answer, label: 'For answer on' %>
        </div>
        <div class="specific-date-3">
          <%= render 'search/results/item_details/date_of_holding_answer', date_of_holding_answer: object.date_of_holding_answer %>
        </div>
        <div class="specific-date-4">
          <%= render 'search/results/item_details/date_of_answer', date_of_answer: object.date_of_answer, label: 'Answered on' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="supplementary-content">
        <%= render 'search/results/item_details/answer_text', object: object %>
      </div>
    </div>

    <div class="row">
      <div class="corrected">
        <%= render 'search/results/item_details/corrected', corrected: object.corrected? %>
      </div>
    </div>

    <%= render 'search/results/item_details/legislation', legislation: object.legislation unless object.legislation.blank? %>
  </div>

  <%= render 'search/results/item_details/notes', notes: object.notes unless object.notes.blank? %>

  <div <%= 'hidden' unless params[:show_detailed] == "true" %> class="row">
    <%= render 'search/results/item_details/subjects', subjects: object.subjects unless object.subjects.blank? %>
  </div>

  <div class="row">
    <div class="result-panel">
      <div class="significant-date">
        <%= render 'search/results/item_details/date', date: object.standard_date %>
      </div>
      <div class="reference">
        <%= render 'search/results/item_details/reference', reference: object.standard_reference %>
      </div>
      <div class="house">
        <%= render 'search/results/item_details/legislature', legislature: object.legislature %>
      </div>
    </div>
  </div>
</div>