<div class="result-item">
  <p><%= link_to(object.object_title, object_show_url(object: object.object_uri[:value])) %></p>
  <%= render 'search/results/item_details/question_text', question_text: object.question_text %>
  <%= render 'search/results/item_details/date', date: object.date %>
  <%= render 'search/results/item_details/type', type: object.object_name %>
  <div hidden class="detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/state', state: object.state %>
  </div>
  <%= render 'search/results/item_details/tabling_member', tabling_member: object.tabling_member %>
  <div hidden class="detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/tabling_member_party', tabling_member_party: object.tabling_member_party %>
  </div>
  <%= render 'search/results/item_details/answer_text', answer_text: object.answer_text %>
  <%= render 'search/results/item_details/answering_member', answering_member: object.answering_member %>
  <div hidden class="detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/answering_member_party', answering_member_party: object.answering_member_party %>
  </div>
  <%= render 'search/results/item_details/answering_body', answering_body: object.answering_body %>
  <div hidden class="detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/asked_to_reply_author', asked_to_reply_author: object.asked_to_reply_author %>
    <%= render 'search/results/item_details/corrected', corrected: object.corrected? %>
  </div>
  <%= render 'search/fragments/list', items: object.legislature, terminator: "", singular: false %>
  <%= render 'search/results/item_details/reference', reference: object.reference %>
  <div hidden class="detailed-view" data-detailed-results-target="toggleHidden">
    <%= render 'search/results/item_details/legislation', legislation: object.legislation %>
    <%= render 'search/results/item_details/procedure', procedure: object.procedure %>
    <%= render 'search/results/item_details/notes', notes: object.notes %>
    <%= render 'search/results/item_details/date_tabled', date_tabled: object.date_tabled %>
    <%= render 'search/results/item_details/date_for_answer', date_for_answer: object.date_for_answer %>
    <%= render 'search/results/item_details/date_of_holding_answer', date_of_holding_answer: object.date_of_holding_answer %>
    <%= render 'search/results/item_details/date_of_answer', date_of_answer: object.date_of_answer %>
    <%= render 'search/results/item_details/pills', pills: object.subjects, pills_heading: 'Subjects' %>
  </div>
</div>