<section class="content-section">
  <h3 class="content-heading">Example Objects</h3>
  <ul>
    <%= content_tag('li', link_to('An EDM', object_show_url(object: 'http://data.parliament.uk/edms/22468'))) %>
    <%= content_tag('li', link_to('A research briefing', object_show_url(:object => 'http://data.parliament.uk/resources/342599'))) %>
    <%= content_tag('li', link_to('A written question', object_show_url(:object => 'http://hansard.intranet.data.parliament.uk/Lords/2012-12-10/1212106000156'))) %>
    <%= content_tag('li', link_to('A written statement', object_show_url(:object => 'http://hansard.intranet.data.parliament.uk/Commons/2012-12-18/12121863000016'))) %>
    <%= content_tag('li', link_to('A public act', object_show_url(:object => 'http://data.parliament.uk/publicgeneralact/2023/19'))) %>
    <%= content_tag('li', link_to('A Church of England measure', object_show_url(:object => 'http://data.parliament.uk/churchmeasure/2021/3'))) %>
    <%= content_tag('li', link_to('A ministerial correction', object_show_url(:object => 'http://data.parliament.uk/pimsdata/hansard/PROCEEDING_67029'))) %>
    <%= content_tag('li', link_to('An impact assessment', object_show_url(:object => 'http://data.parliament.uk/impactassessments/43918'))) %>
    <%= content_tag('li', link_to('A deposited paper', object_show_url(:object => 'http://data.parliament.uk/depositedpapers/2285506'))) %>
    <%= content_tag('li', link_to('A transport and works act order application', object_show_url(:object => 'http://data.parliament.uk/twas/59276'))) %>
    <%= content_tag('li', link_to('A bill', object_show_url(:object => 'http://data.parliament.uk/bills/58255'))) %>
  </ul>
</section>