<section class="content-section">
  <h3 class="content-heading">Example Objects</h3>
  <ul>
    <%= content_tag('li', link_to('An EDM', object_show_url(object: 'http://data.parliament.uk/edms/22468'))) %>
    <%= content_tag('li', link_to('A research briefing', object_show_url(:object => 'http://data.parliament.uk/resources/342599'))) %>
    <%= content_tag('li', link_to('A written question', object_show_url(:object => 'http://hansard.intranet.data.parliament.uk/Lords/2012-12-10/1212106000156'))) %>
    <%= content_tag('li', link_to('A written statement', object_show_url(:object => 'http://hansard.intranet.data.parliament.uk/Commons/2012-12-18/12121863000016'))) %>
    <%= content_tag('li', link_to('A public act', object_show_url(:object => 'http://data.parliament.uk/publicgeneralact/2023/19'))) %>
    <%= content_tag('li', link_to('A Church of England measure', object_show_url(:object => 'http://data.parliament.uk/churchmeasure/2021/3'))) %>
    <%= content_tag('li', link_to('A ministerial correction - Example 1', object_show_url(:object => 'http://data.parliament.uk/pimsdata/hansard/PROCEEDING_67029'))) %>
    <%= content_tag('li', link_to('A ministerial correction - Example 2', object_show_url(:object => 'http://hansard.intranet.data.parliament.uk/Commons/2013-12-19/13121970000003'))) %>
    <%= content_tag('li', link_to('A ministerial correction - Example 3', object_show_url(:object => 'http://hansard.intranet.data.parliament.uk/Commons/2022-12-20/22122049000024'))) %>
    <%= content_tag('li', link_to('An impact assessment', object_show_url(:object => 'http://data.parliament.uk/impactassessments/43918'))) %>
    <%= content_tag('li', link_to('A deposited paper', object_show_url(:object => 'http://data.parliament.uk/depositedpapers/2285506'))) %>
    <%= content_tag('li', link_to('A transport and works act order application', object_show_url(:object => 'http://data.parliament.uk/twas/59276'))) %>
    <%= content_tag('li', link_to('A bill', object_show_url(:object => 'http://data.parliament.uk/bills/58255'))) %>
    <%= content_tag('li', link_to('An e-petition', object_show_url(:object => 'https://id.parliament.uk/8Ta8s3Bn'))) %>
    <%= content_tag('li', link_to('A paper petition', object_show_url(:object => 'http://hansard.intranet.data.parliament.uk/Commons/2022-12-07/22120755000101'))) %>
    <%= content_tag('li', link_to('Observations on a petition', object_show_url(:object => 'http://hansard.intranet.data.parliament.uk/Commons/2022-12-19/2212199000020'))) %>
    <%= content_tag('li', link_to('A formal proceeding', object_show_url(:object => 'http://data.parliament.uk/formalProceedings/7084'))) %>
    <%= content_tag('li', link_to('A parliamentary paper (laid)', object_show_url(:object => 'http://services.paperslaid.parliament.uk/papers/paper/37057'))) %>
  </ul>
</section>