<% content_for(:before_title) do %>
  <%= link_to('UK Parliament', root_path) %> / <%= link_to('Open data', root_path) %><br/>
  <div id="top"></div>
<% end %>

<section id="search" class="content-section white">
  <h2 class="content-heading">Search</h2>
  <%= form_with url: search_url, method: :get, local: true do |f| %>
    <%= f.text_field :query, id: 'search-input' %>
    <%= f.submit 'Search', id: 'search-button' %>
  <% end %>
</section>

<section id="examples" class="content-section white">
  <h2 class="content-heading">Example Objects</h2>
  <ul>
    <%= content_tag('li', link_to('An EDM', object_show_url(object: 'http://data.parliament.uk/edms/22468'))) %>
    <%= content_tag('li', link_to('An amended EDM', object_show_url(object: 'http://data.parliament.uk/edms/47841'))) %>
    <%= content_tag('li', link_to('A research briefing', object_show_url(object: 'http://data.parliament.uk/resources/342599'))) %>
    <%= content_tag('li', link_to('A written question (Answered)', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Lords/2012-12-10/1212106000156'))) %>
    <%= content_tag('li', link_to('A written question (Holding)', object_show_url(object: 'http://data.parliament.uk/writtenparliamentaryquestion/commons/2021-22/78384'))) %>
    <%= content_tag('li', link_to('A written question (Tabled)', object_show_url(object: 'http://tabledpq.indexing.parliament.uk/commons/2015-16/21659'))) %>
    <%= content_tag('li', link_to('A written question (Withdrawn)', object_show_url(object: 'http://tabledpq.indexing.parliament.uk/commons/2022-23/11562'))) %>
    <%= content_tag('li', link_to('A written question (Answered, was Holding)', object_show_url(object: 'http://data.parliament.uk/writtenparliamentaryquestion/commons/2015-16/28407'))) %>
    <%= content_tag('li', link_to('A written question (Corrected)', object_show_url(object: 'http://data.parliament.uk/pimsdata/Hansard/PARLIAMENTARY_QUESTION_1395367'))) %>
    <%= content_tag('li', link_to('A written statement', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2012-12-18/12121863000016'))) %>
    <%= content_tag('li', link_to('A public act', object_show_url(object: 'http://data.parliament.uk/publicgeneralact/2023/19'))) %>
    <%= content_tag('li', link_to('A private act', object_show_url(object: 'http://data.parliament.uk/localgeneralact/2016/2'))) %>
    <%= content_tag('li', link_to('A Church of England measure', object_show_url(object: 'http://data.parliament.uk/churchmeasure/2021/3'))) %>
    <%= content_tag('li', link_to('A ministerial correction - Example 1', object_show_url(object: 'http://data.parliament.uk/pimsdata/hansard/PROCEEDING_67029'))) %>
    <%= content_tag('li', link_to('A ministerial correction - Example 2', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2013-12-19/13121970000003'))) %>
    <%= content_tag('li', link_to('A ministerial correction - Example 3', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2022-12-20/22122049000024'))) %>
    <%= content_tag('li', link_to('An impact assessment', object_show_url(object: 'http://data.parliament.uk/impactassessments/43918'))) %>
    <%= content_tag('li', link_to('A deposited paper', object_show_url(object: 'http://data.parliament.uk/depositedpapers/2285506'))) %>
    <%= content_tag('li', link_to('A transport and works act order application', object_show_url(object: 'http://data.parliament.uk/twas/59276'))) %>
    <%= content_tag('li', link_to('A bill', object_show_url(object: 'http://data.parliament.uk/bills/58255'))) %>
    <%= content_tag('li', link_to('A paper petition', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2022-12-07/22120755000101'))) %>
    <%= content_tag('li', link_to('A paper petition (multi-member)', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2022-07-13/220713107000568'))) %>
    <%= content_tag('li', link_to('Observations on a petition', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Commons/2022-12-19/2212199000020'))) %>
    <%= content_tag('li', link_to('A formal proceeding', object_show_url(object: 'http://data.parliament.uk/formalProceedings/7084'))) %>
    <%= content_tag('li', link_to('A parliamentary paper (laid)', object_show_url(object: 'http://services.paperslaid.parliament.uk/papers/paper/37057'))) %>
    <%= content_tag('li', link_to('A parliamentary paper (reported)', object_show_url(object: 'http://data.parliament.uk/selectcommittees/54929'))) %>
    <%= content_tag('li', link_to('A proceeding contribution', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Lords/2022-12-21/2212217000041'))) %>
    <%= content_tag('li', link_to('A parliamentary proceeding', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Lords/2022-12-21/2212217000100'))) %>
    <%= content_tag('li', link_to('A statutory instrument', object_show_url(object: 'http://paperslaidpoller.parliament.uk/2015-16/2016-05-11/64828'))) %>
    <%= content_tag('li', link_to('An oral question (Tabled)', object_show_url(object: 'http://tabledpq.indexing.parliament.uk/commons/2015-16/903692'))) %>
    <%= content_tag('li', link_to('An oral question (Answered)', object_show_url(object: 'http://data.parliament.uk/pimsdata/Hansard/PARLIAMENTARY_QUESTION_366351/-question'))) %>
    <%= content_tag('li', link_to('An oral question (Withdrawn)', object_show_url(object: 'http://tabledpq.indexing.parliament.uk/commons/2022-23/900744'))) %>
    <%= content_tag('li', link_to('An oral question (Corrected)', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Lords/2021-05-19/21051926000130'))) %>
    <%= content_tag('li', link_to('An oral answer', object_show_url(object: 'http://hansard.intranet.data.parliament.uk/Lords/2022-12-21/2212217000022'))) %>
    <%= content_tag('li', link_to('An oral question time intervention', object_show_url(object: 'http://data.parliament.uk/pimsdata/hansard/CONTRIBUTION_241033'))) %>
    <%= content_tag('li', link_to('A European deposited document', object_show_url(object: 'http://esid.parliament.uk/EUDocument/EUProposalDocument/37832/'))) %>
    <%= content_tag('li', link_to('A European scrutiny explanatory memorandum', object_show_url(object: 'http://esid.parliament.uk/EUDocument/EMDocument/19263/'))) %>
    <%= content_tag('li', link_to('European scrutiny ministerial correspondence', object_show_url(object: 'http://esid.parliament.uk/EUDocument/MinCorHoCDocument/7596/'))) %>
    <%= content_tag('li', link_to('European scrutiny recommendation', object_show_url(object: 'http://esid.parliament.uk/EUDocument/RecommendationHoCPimsDocument/7092/'))) %>
    <%= content_tag('li', link_to('European material', object_show_url(object: 'http://esid.parliament.uk/EUDocument/EUMaterialDocument/95376/'))) %>
  </ul>
</section>