<div class="nav-width-container">
  <div class="nav-container">
    <nav class="nav-bar">
      <div class="nav-logo-wrapper">
        <div class="nav-logo">
          <%= link_to(image_tag('Portcullis.svg'), form_url) %>
        </div>
      </div>
      <div class="nav-item-container">
        <div class="nav-item">
          <div class="nav-label">Business</div>
          <div class="nav-button-wrapper">
            <div class="nav-button">
              <%= image_tag('Frame.svg') %>
            </div>
          </div>
        </div>
        <div class="nav-item">
          <div class="nav-label">MPs,
            Lords & offices
          </div>
          <div class="nav-button-wrapper">
            <div class="nav-button">
              <%= image_tag('Frame.svg') %>
            </div>
          </div>
        </div>
        <div class="nav-item">
          <div class="nav-label">About</div>
          <div class="nav-button-wrapper">
            <div class="nav-button">
              <%= image_tag('Frame.svg') %>
            </div>
          </div>
        </div>
        <div class="nav-item">
          <div class="nav-label">Visit</div>
          <div class="nav-button-wrapper">
            <div class="nav-button">
              <%= image_tag('Frame.svg') %>
            </div>
          </div>
        </div>
        <div class="nav-item">
          <div class="nav-label">More</div>
          <div class="nav-button-wrapper">
            <div class="nav-button">
              <%= image_tag('Frame.svg') %>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
