<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<%= render :partial => 'library_design/head/head' %>
	</head>
	<body class="brand-bicameral">
		<%= render 'layouts/header/header' %>
		<main class="block block-page" id="main-content">
			<div class="inner-content container">
				<%= render 'library_design/debug/debug' -%>
				<h1><%= @multiline_page_title || @page_title || $PRODUCT_TITLE %></h1>
				<%= yield %>
			</div>
		</main>
		<%= render 'layouts/footer/footer' %>
	</body>
</html>