<!DOCTYPE html>
<html lang="en-GB">
<%= render '/layouts/head' %>
<body>
<%= render '/layouts/nav' %>
<main>
  <header>
    <%= yield :before_title if content_for?(:before_title) %>
    <h1>
      <%= yield :title if content_for?(:title) %>
    </h1>
  </header>
  <%= yield %>
</main>
<%#= render '/layouts/footer' %>
</body>
</html>