<!DOCTYPE html>
<html lang="en-GB">
  <%= render '/layouts/head' %>
  <body>
    <%= render 'library_design/header/header' do %>
    <% end %>

    <main>
      <div>
        <header>
          <%= yield :before_title if content_for?(:before_title) %>
          <% if content_for?(:title) %>
            <h1>
              <%= yield :title %>
            </h1>
          <% end %>
        </header>
        <%= yield %>
      </div>
    </main>
    <%= render 'library_design/footer' %>

  </body>
</html>