<!DOCTYPE html>
<html>
	<head>
		<title>Parliamentary search - <%= @page_title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag "https://ukparliament.github.io/ontologies/meta/assets/trrb.css" %>
	</head>
	<body>
		<%= render :partial => 'layouts/header' %>
		<%= content_tag( 'h1', @page_title ) %>
		<div id="api-data">
			<%= yield %>
		</div>
		<%= render :partial => 'layouts/footer' %>
	</body>
</html>