<!DOCTYPE html>
<html lang="en-GB">
<%= render '/layouts/head' %>
<body>
<%= render '/layouts/nav' %>
<main>
  <%= yield :before_title if content_for?(:before_title) %>
  <%= yield :title if content_for?(:title) %>
  <%= yield %>
</main>
<%#= render '/layouts/footer' %>
</body>
</html>