<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<title>Parliamentary search - <%= @page_title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= stylesheet_link_tag "https://ukparliament.github.io/design-system/trrb.css" %>
	</head>
	<body>
		<%= render :partial => 'layouts/header' %>
		<main>
		<%= content_tag( 'h1', @page_title ) %>
		<div id="api-data">
			<%= yield %>
		</div>
		</main>
		<%= render :partial => 'layouts/footer' %>
	</body>
</html>