<!DOCTYPE html>
<html lang="en-GB">
<head>
  <%= render 'library_design/head/head' %>
  <%= yield :page_styles %>
  <%= javascript_importmap_tags %>
</head>
<body class="brand-bicameral min-vh-100">
<%= render 'layouts/header/header' %>
<main id="main-content">
  <div class="block block-page">
    <div class="container-sm">
      <%#= render 'library_design/debug/debug' %>
      <%= yield %>
    </div>
  </div>
</main>
<%= render 'layouts/footer/footer' %>
</body>
</html>