<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<%= render :partial => 'library_design/head/head' %>
		<%= javascript_importmap_tags %>
	</head>
	<body class="brand-bicameral">
		<%= render 'layouts/header/header' %>
		<main class="block block-page" id="main-content">
			<div class="inner-content container">
				<%= render 'library_design/debug/debug' -%>
				<div class="reading-width">
					<h1>
						<%= yield :title %>
					</h1>
					<%= yield %>
				</div>
			</div>
		</main>
		<%= render 'layouts/footer/footer' %>
	</body>
</html>